<div class="form-group">
    <label for="field-samewindow" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.LINK.SETTINGS.SAMEWINDOW"></label>
    <div class="col-sm-9">
        <div class="checkbox">
            <label>
                <coyo-checkbox id="field-samewindow" name="field-samewindow" ng-model="model.samewindow"></coyo-checkbox>
                {{:: 'APP.COMMONS.FIELDS.LINK.SETTINGS.SAMEWINDOW.LABEL' | translate}}
            </label>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs">
        <coyo-help tip="APP.COMMONS.FIELDS.LINK.SETTINGS.SAMEWINDOW.HELP"></coyo-help>
    </div>
</div>
<oyoc-placeholder-settings model="model"></oyoc-placeholder-settings>