<section class="option-field-settings">
    <div class="form-group">
        <label for="field-multiple" class="col-sm-2 control-label" translate="APP.COMMONS.FIELDS.OPTIONS.SETTINGS.MULTI"></label>
        <div class="col-sm-9">
            <div class="checkbox">
                <label>
                  <coyo-checkbox id="field-multi" name="field-multi" ng-model="$ctrl.settings.multi"></coyo-checkbox>
                  {{:: 'APP.COMMONS.FIELDS.OPTIONS.SETTINGS.MULTI.LABEL' | translate}}
                </label>
            </div>
        </div>
        <div class="col-sm-1 hidden-xs">
            <coyo-help tip="APP.COMMONS.FIELDS.OPTIONS.SETTINGS.MULTI.HELP"></coyo-help>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': $ctrl.hasError()}">
        <coyo-options-field name="field-options" ng-model="$ctrl.settings.options"></coyo-options-field>
        <div class="col-sm-9 col-sm-offset-2">
            <p class="help-block" ng-if="$ctrl.hasError()" translate="OPTIONS.ERROR.NO_OPTIONS"></p>
        </div>
    </div>
    <oyoc-placeholder-settings model="model"></oyoc-placeholder-settings>
</section>
