<div class="media-widget">
  <div class="heading"
       ng-if="$ctrl.album.title || $ctrl.album.description || $ctrl.album.location">
    <h3 class="title" ng-if="$ctrl.album.title">{{$ctrl.album.title}}</h3>
    <h5 class="description" ng-if="$ctrl.album.description">
      {{$ctrl.album.description}}
    </h5>
    <span class="location" ng-if="$ctrl.album.location">
      <i class="zmdi zmdi-pin"></i>{{$ctrl.album.location}}
    </span>
  </div>
  <div class="media-tiles" ng-click="$ctrl.openLightBoxModal(media.id, media.sortOrderId)"
       ng-repeat="media in $ctrl.media | filter:{preview:true} | orderBy: 'sortOrderId'">
    <coyo-cover-image-reference ng-if="::$ctrl.isImage(media.contentType)"
                          file-id="media.id"
                          sender-id="media.senderId"
                          size-definitions="{'default': 'S', 'screen-xs': 'S', 'screen-sm': 'S', 'screen-md': 'S', 'screen-lg': 'S'}"
                          uib-tooltip="{{ media.description.length > 0 ? media.description : media.name }}"
                          tooltip-placement="top"
                          tooltip-append-to-body="true"
                          tooltip-popup-delay="500"
                          tooltip-enable="!$root.screenSize.isXs">
    </coyo-cover-image-reference>

    <coyo-video-reference ng-if="::$ctrl.isVideo(media.contentType)"
                          file="media"
                          url="$ctrl.previewUrl"
                          group-id="media.senderId"
                          show-controls="false"
                          show-preview="false"
                          uib-tooltip="{{ media.description.length > 0 ? media.description : media.name }}"
                          tooltip-placement="top"
                          tooltip-append-to-body="true"
                          tooltip-popup-delay="500"
                          tooltip-enable="!$root.screenSize.isXs">
    </coyo-video-reference>
  </div>

  <div class="no-previews" ng-if="$ctrl.hasNoPreviews()" ng-click="$ctrl.openLightBoxModal()">
    <span translate="WIDGET.MEDIA.NO_PREVIEWS.VIEW" translate-values="{COUNT: $ctrl.media.length}"></span>
    &nbsp;&nbsp;<i class="zmdi zmdi-fullscreen"></i>
  </div>

  <div class="some-previews" ng-if="$ctrl.hasSomePreviews()" ng-click="$ctrl.openLightBoxModal()">
    +{{ $ctrl.mediaWithoutPreviewCount }}
  </div>

  <h4 class="empty-media" ng-if="$ctrl._media.length === 0">
    {{::'WIDGET.MEDIA.SETTINGS.MEDIA.EMPTY' | translate}}
  </h4>
</div>