.upcoming-event-widget {
  position: relative;

  h5.event-title {
    a, a:hover, a:focus {
      color: $text-color;
    }
  }

  div:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  div:nth-child(3) {
    padding-top: 0;
  }

  .status {
    display: flex;
    justify-content: center;
  }

  .upcoming-event-container {
    display: flex;
    padding-bottom: 15px;
    padding-top: 25px;
    border-bottom: 1px solid $color-gray-light;

    @media screen and (max-width: $screen-md-min) {
      flex-direction: column;
    }

    .event-information {
      @media screen and (max-width: $screen-md-min) {
        margin-left: 0;
      }
    }

    .image {
      @media screen and (max-width: $screen-md-min) {
        width: 100%;
        margin-bottom: 10px;
      }

    a.event-avatar {
      width: 60px;
      height: 60px;

      @media screen and (max-width: $screen-md-min) {
        width: 100%;
      }

      img {
        object-fit: cover;
      }

      .event-date-overlay {
        border-radius: 5px;

        .event-day {
          font-size: 30px;
        }

        .event-month {
          font-size: 15px;
        }
      }
    }
  }

    .event-information {
      margin-left: 15px;

      h5 {
        font-size: 15px;
        font-weight: bold;
        @include hyphenate-break();
      }

      .event-description {
        font-size: 13px;
        display: -webkit-box;
        color: $color-gray;
        max-height: 40px;
        word-break: break-word;
        overflow-y: hidden;
        @include hyphenate-break();
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .event-labels {
        .label {
          margin-bottom: 10px;
          margin-right: 10px;
          white-space: normal;
          @include hyphenate-break();
        }
      }
    }
  }
}

.col-md-3,
.widget-slot-content {
  coyo-widget coyo-upcoming-events-widget {
    .upcoming-event-container {
      flex-direction: column;

      .event-information {
        margin-left: 0;
      }

      .image {
        width: 100%;
        margin-bottom: 10px;

        a.event-avatar {
          width: 100%;
        }
      }
    }
  }
}

.event-sender-chooser {
  margin-top: 10px;
}

.fetchEvents {
  display: flex;
  flex-direction: column;

  .text-muted {
    margin-left: 30px;
  }
}
