<div class="form-group row">
  <label class="col-sm-3 control-label"
         translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.EVENTS.DISPLAY.LABEL"></label>
  <div class="col-sm-9">
    <div class="radio fetchEvents">
      <label>
        <input name="tab" type="radio" ng-model="model.settings._fetchUpcomingEvents" value="ALL">
        {{:: 'WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.EVENTS_ALL' | translate }}
      </label>
      <span class="text-muted" translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.HELP.EVENTS_ALL"></span>
    </div>
    <div class="radio fetchEvents">
      <label>
        <input name="tab" type="radio" ng-model="model.settings._fetchUpcomingEvents" value="SUBSCRIBED">
        {{:: 'WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.EVENTS_SUBSCRIBED' | translate }}
      </label>
      <span class="text-muted" translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.HELP.EVENTS_SUBSCRIBED"></span>
    </div>
    <div class="radio fetchEvents">
      <label>
        <input name="tab" type="radio" ng-model="model.settings._fetchUpcomingEvents" value="SELECTED">
        {{:: 'WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.EVENTS_SELECTED' | translate }}
      </label>
      <span class="text-muted" translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.HELP.EVENTS_SELECTED"></span>
    </div>
    <div class="col-sm-9 event-sender-chooser" ng-if="$ctrl.model.settings._fetchUpcomingEvents === 'SELECTED'">
      <coyo-legacy-select-sender ng-model="model.settings._selectedSender"
                          required="true"
                          placeholder="MODULE.TIMELINE.SHARE.DIALOG.SELECT_SENDER.PLACEHOLDER"
                          parameters="$ctrl.senderChooserParams"
      ></coyo-legacy-select-sender>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-3 control-label"
         translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.UPCOMING.EVENT_NUMBER.LABEL"></label>
  <div class="col-sm-9">
    <input name="_numberOfDisplayedEvents" class="form-control" type="number" min="1" ng-required="true"
           ng-model="model.settings._numberOfDisplayedEvents">
  </div>
</div>
<div class="form-group row">
  <label for="_displayOngoingEvents" class="col-sm-3 control-label"
         translate="WIDGETS.UPCOMING.EVENTS.SETTINGS.DISPLAY.ONGOING"></label>
  <div class="col-sm-9">
    <div class="checkbox">
      <label>
        <coyo-checkbox id="_displayOngoingEvents" name="_displayOngoingEvents"
                       ng-model="model.settings._displayOngoingEvents"></coyo-checkbox>
      </label>
    </div>
  </div>
</div>
