<div class="filepicker-breadcrumb">

  <!-- root folder -->
  <div *ngIf="!isCurrentFolder(rootFolder)" class="breadcrumb-item">
      <a href (click)="openFolder(rootFolder)"
         [attr.aria-label]="'FILEPICKER.FOLDER.ARIA' | translate : {folder: rootFolder.name}">
        {{rootFolder.name}}
      </a>
  </div>

  <!-- context menu -->
  <div *ngIf="hasContextMenu()" class="breadcrumb-item context-menu">
    <coyo-context-menu horizontalPlacement="left"
                       [tooltipText]="('FILEPICKER.BREADCRUMB.CONTEXT_MENU.TOOLTIP' | translate)">
      <li *ngFor="let item of contextMenuItems" (click)="openFolder(item)">
        <a href (click)="openFolder(item)"
           [attr.aria-label]="'FILEPICKER.FOLDER.ARIA' | translate : {folder: item.name}">
          <coyo-filepicker-icon [item]="item"></coyo-filepicker-icon>
          <span class="folder-name" aria-hidden="true">{{item.name}}</span>
        </a>
      </li>
    </coyo-context-menu>
  </div>

  <!-- current folder -->
  <div class="breadcrumb-item current-folder">
    <span [attr.aria-label]="'FILEPICKER.FOLDER.CURRENT.ARIA' | translate : {folder: currentFolder.name}">
      {{currentFolder.name}}
    </span>
  </div>
</div>
