@import 'variables';

:host {
  display: block;

  .filepicker-breadcrumb {
    display: flex;
    align-items: center;
    font-size: 20px;

    > .breadcrumb-item {
      white-space: nowrap;
      align-items: center;
      line-height: 1.2;

      &:not(:first-child) {
        position: relative;
        padding-left: 28px;

        &:before {
          background-image: url(/assets/icons/icon-caret-right.svg);
          background-repeat: no-repeat;
          background-size: contain;
          content: " ";
          width: 6px;
          height: 10px;
          display: block;
          position: absolute;
          left: 12px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

      &.current-folder {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      @media screen and (min-width: $screen-sm-min) {
        &.current-folder {
          color: $n600;
        }

        > a, > a:visited {
          font-size: 20px;
          color: $n200;

          &:hover, &:focus {
            color: $n600;
            text-decoration: underline;
          }
        }
      }

      &.context-menu {
        margin-right: 32px;

        coyo-context-menu {
          height: 32px;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          z-index: 2;

          a {
            display: flex;
            align-items: center;

            @media screen and (min-width: $screen-sm-min) {
              max-width: 400px;
            }

            .folder-name {
              margin-left: 16px;
            }

            mat-icon {
              min-width: 18px;
            }

            span {
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
}
