@import "variables";
@import "mixins";

.bookmark {
  @include widget-btn-list-item();
}

.add-bookmark {
  margin-top: #{$padding-base-horizontal + 8px};
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
