<div class="event-date-overlay-container">
  <div class="event-date-overlay">
    <div class="event-day">{{date | amDateFormat : 'DD' }}</div>
    <div class="event-month">{{date | amDateFormat : 'MMM' }}</div>
  </div>
</div>
