@import "mixins";

@include tabs();

.verify-button-container {
  display: flex;
  flex-direction: column;

  @media print, screen and (min-width: $screen-md-min) {
    div.help-block {
      align-items: center;
      display: flex;
      margin: auto 0;
    }

    p {
      margin: 0 0 0 8px;
    }
  }

  @media print, screen and (min-width: $screen-md-min) {
    flex-direction: row;
  }
}
