@import "variables";
@import "mixins";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  @include animate-easing(opacity, .2s);
  margin: .35em .5em .35em 0;
  padding: .5em 1em;
  border: 1px solid $n50;
  color: $n400;
  line-height: 1em;
  border-radius: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;

  &:hover {
    cursor: pointer;
    opacity: 1 !important;
    border-color: $n75;
  }
}

.empty,
.loading {
  padding: 0 1em;
  text-align: center;
}

.coyo-spinner {
  margin: 0;
}
