@import "variables";
@import "mixins";

$padding-icon: 5px;

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 auto;
}

.add-icon {
  @include icon($n200, $n200, inherit);
  @include icon-error();
  margin-left: 1px;
  margin-right: 13px;
}

.check-icon {
  @include icon($n200, $n400, pointer);
  padding-top: 1px;
}

.bookmark {
  @include break-word();
  width: 100%;

  .bookmark-title, .bookmark-url {
    width: 100%;
    margin-right: $padding-icon;
  }

  .inplace-edit {
    border-bottom: 1px solid $n200;
  }
}
