<section class="content-with-sidebar">
  <aside role="complementary" aria-label="{{::'MODULE.SEARCH.FILTER.ARIA' | translate}}" class="content-sidebar"
         ng-if="$ctrl.currentPage.totalElements || $ctrl.isFiltered">
    <div class="tour-placeholder-container">

      <coyo-tour-step ng-if="$ctrl.currentPage.totalElements"
                      aria-hidden="true"
                      topic="search" order="110" step-id="search.filter" placement="right"
                      title="{{:: 'TOUR.SEARCH.FILTER.TITLE' | translate }}"
                      content="{{:: 'TOUR.SEARCH.FILTER' | translate }}"></coyo-tour-step>

      <coyo-filterbox vertical="true" ng-if="!$ctrl.isEmpty($ctrl.currentPage.aggregations.type)">
        <fb-filter>
          <coyo-selection-filter
              title-key="MODULE.SEARCH.TYPE"
              filter-model="$ctrl.typeFilter"
              on-selection-change="$ctrl.selectFilter('type', selected)">
          </coyo-selection-filter>
          <coyo-selection-filter
              ng-if="!$ctrl.isEmpty($ctrl.currentPage.aggregations.modified)"
              title-key="MODULE.SEARCH.MODIFIED"
              text-prefix="MODULE.SEARCH.FILTER.MODIFIED"
              filter-model="$ctrl.modifiedFilter"
              single-select="true"
              on-selection-change="$ctrl.selectFilter('modified', selected)">
          </coyo-selection-filter>
          <coyo-selection-filter
              ng-if="!$ctrl.isEmpty($ctrl.currentPage.aggregations.sender)"
              title-key="MODULE.SEARCH.LOCATION"
              filter-model="$ctrl.senderFilter"
              on-selection-change="$ctrl.selectFilter('sender', selected)"
              hide-all-option="false">
          </coyo-selection-filter>
          <coyo-selection-filter
              ng-if="!$ctrl.isEmpty($ctrl.currentPage.aggregations.author)"
              title-key="MODULE.SEARCH.AUTHOR"
              filter-model="$ctrl.authorFilter"
              on-selection-change="$ctrl.selectFilter('author', selected)"
              hide-all-option="false">
          </coyo-selection-filter>
        </fb-filter>
      </coyo-filterbox>
    </div>
  </aside>

  <coyo-tour-step-mobile topic="search" order="105" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-search-2.jpg"
                         title="{{:: 'TOUR.SEARCH.RESULTLIST.TITLE' | translate }}"
                         content="{{:: 'TOUR.SEARCH.RESULTLIST' | translate }}"></coyo-tour-step-mobile>

  <coyo-tour-step-mobile topic="search" order="110" aria-hidden="true"
                         image-url="/assets/images/tour/tour-mobile-search-3.jpg"
                         title="{{:: 'TOUR.SEARCH.FILTER.TITLE' | translate }}"
                         content="{{:: 'TOUR.SEARCH.FILTER' | translate }}"></coyo-tour-step-mobile>

  <div class="content-main" ng-class="{'has-search-results': $ctrl.hasAnySearchResult}">
    <!-- help text -->
    <div class="text-center text-muted ph-l pv-s" ng-if="$ctrl.showSearchResults && !$root.search.term">
      <span translate="MODULE.SEARCH.HELP"></span>
    </div>

    <!-- search term -->
    <div class="panel panel-default search-term-panel" ng-if="$ctrl.showSearchTermPanel">
      <div class="panel-heading">
        <div class="search-term">
            <span class="search-term-text">
              <h2 aria-label="{{:: 'MODULE.SEARCH.TITLE.TERM.ARIA' | translate}} {{$root.search.term}}" data-test="text-search-term">{{$root.search.term}}</h2>
              <oyoc-hashtag-subscription-button term="{{::$root.search.term}}"></oyoc-hashtag-subscription-button>
            </span>
        </div>
        <a ng-click="$ctrl.showHelp()" class="search-help-hint hidden-xs"
           uib-tooltip="{{:: 'MODULE.SEARCH.HELP_HINT' | translate}}"
           tooltip-placement="left">
          <i class="zmdi zmdi-help"></i> {{'MODULE.SEARCH.HELP.OPTIMIZE_LINK' | translate}}
        </a>
      </div>
    </div>

    <!-- no search results / suggestions -->
    <div class="panel panel-default empty-search-and-suggestions" ng-if="$ctrl.showEmptySearchAndSuggestionsPanel">
      <div class="panel-body">
        <div ng-if="!$ctrl.hasAnySearchResult">
          <div class="title" role="heading">
            <span translate="MODULE.SEARCH.EMPTY"></span> <span class="bold">{{::$root.search.term}}</span>
          </div>
          <a href class="sr-only" translate="MODULE.SEARCH.GOTO_SEARCH.AIRA" ng-click="$ctrl.focusSearch()"></a>
          <span class="text-muted" translate="MODULE.SEARCH.EMPTY.HINT"></span>
        </div>

        <div class="suggestions-wrapper" ng-if="$ctrl.hasSuggestions">
          <span ng-if="!$ctrl.hasAnySearchResult" class="text-muted" translate="MODULE.SEARCH.TRIED"></span>
          <span ng-if="$ctrl.hasAnySearchResult" translate="MODULE.SEARCH.SUGGESTION" class="suggestions-headline"></span>

          <div class="suggestions">
            <span class="search-term">{{ $root.search.term }}</span>
            <i class="zmdi zmdi-arrow-right term-suggestions-separator"></i>
            <span class="suggestion" ng-bind-html="::suggestion.highlighted"
                  data-ng-click="$ctrl.setNewTerm(suggestion.text)"
                  data-ng-repeat="suggestion in $ctrl.currentPage.suggestions | orderBy: '-score'"
                  ng-style="{'opacity': 1 - (0.15 * $index) }"></span>
          </div>
        </div>
        <a class="reset-filters" ng-if="$ctrl.isFiltered" ng-click="$ctrl.clearAllFilters()"
           translate="MODULE.SEARCH.CLEAR" aria-label="{{ 'MODULE.SEARCH.CLEAR.ARIA' | translate }}"></a>
      </div>
    </div>

    <div class="panel panel-default" ng-if="$ctrl.error">
      <div class="panel-heading">
        <span translate="MODULE.SEARCH.ERROR"></span>
      </div>
    </div>

    <!-- search results -->
    <main role="main" aria-label="{{::'MODULE.SEARCH.TITLE' | translate}}" class="tour-placeholder-container" ng-if="$ctrl.showSearchResultsPanel">

      <coyo-search-results-external-panel ng-if="!$ctrl.isFiltered"
                                          [external-search-results]="$ctrl.externalSearchResults"
                                          [search-query]="$root.search.term"></coyo-search-results-external-panel>

      <div class="panel panel-default global-search-results tour-placeholder-container" ng-if="$ctrl.hasCoyoSearchResults">
        <div class="panel-heading">
          <coyo-tour-step ng-if="$ctrl.hasCoyoSearchResults"
                          topic="search" order="105" step-id="search.results"
                          placement="bottom" popup-class="mt-l" no-highlight="true"
                          title="{{:: 'TOUR.SEARCH.RESULTLIST.TITLE' | translate }}"
                          content="{{:: 'TOUR.SEARCH.RESULTLIST' | translate }}"></coyo-tour-step>
          <h3 class="search-results-headline"
              aria-label="{{'MODULE.SEARCH.HEADLINE.ARIA' | translate:'{hitsCount: ' + $ctrl.currentPage.totalElements + '}'}}">
            <span ng-if="$ctrl.currentPage.totalElements <= 1"
                  class="strong" translate="MODULE.SEARCH.HEADLINE.SINGLE.BOLD_PART"
                  translate-values="{hitsCount: $ctrl.currentPage.totalElements}"></span>
            <span ng-if="$ctrl.currentPage.totalElements > 1"
                  class="strong" translate="MODULE.SEARCH.HEADLINE.MULTI.BOLD_PART"
                  translate-values="{hitsCount: $ctrl.currentPage.totalElements}"></span>
            <span translate="MODULE.SEARCH.HEADLINE.REGULAR_PART"
                  translate-values="{hitsCount: $ctrl.currentPage.totalElements}"></span>
          </h3>
        </div>
        <div class="panel-body">
          <div class="search-result" ng-repeat="result in $ctrl.currentPage.content"
               ng-class="{'no-link': !result.canLinkToResult}">
            <div class="search-result-body">
              <a ng-href="{{:: $ctrl.links.results[result.id]}}" ng-click="$ctrl.clickHandler(result)">
                  <span class="search-result-icon zmdi zmdi-{{:: $ctrl.getType(result.typeName).icon }}"
                        uib-tooltip="{{::$ctrl.getType(result.typeName).label | translate}}"
                        style="color: {{::$ctrl.getType(result.typeName).color}};"></span>
              </a>
              <div class="search-result-middle">
                <a ng-href="{{:: $ctrl.links.results[result.id]}}" ng-click="$ctrl.clickHandler(result)">
                  <div class="search-result-name" ng-bind-html="::result.displayName"></div>
                  <div class="search-result-excerpt" ng-bind-html="::result.excerpt"></div>
                </a>
              </div>
              <div class="search-result-right">
                <div class="search-result-sender" ng-if="result.sender">
                  <a ng-href="{{:: $ctrl.links.senders[result.sender.id]}}"
                     ng-class="{'no-link': !result.canLinkToSender}">
                    <i class="zmdi zmdi-wide zmdi-{{:: $ctrl.getType(result.sender.typeName).icon }}"
                       uib-tooltip="{{:: $ctrl.getType(result.sender.typeName).label | translate }}"></i>
                    {{result.sender.displayName}}
                  </a>
                </div>
                <coyo-time-ago [date]="result.modified" class="search-result-modified"></coyo-time-ago>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- spinner / loading (only show on initial load) -->
    <div class="text-center m-m mt-xxxl" ng-if="!$ctrl.currentPage || !$ctrl.showSearchResults">
      <coyo-spinner></coyo-spinner>
    </div>

    <coyo-table-pagination ng-if="$ctrl.currentPage"
                           page="$ctrl.currentPage"
                           on-change="$ctrl.search($ctrl.currentPage._queryParams._page, false)"></coyo-table-pagination>
  </div>
</section>
