<section class="workspaces-list content-with-sidebar">
  <div class="content-sidebar" ng-if="$ctrl.showFilters()">

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                      name="workspaces-list-top"
                      hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

    <coyo-filterbox vertical="true" class="panel-navigation" hide-actions="!$ctrl.canCreateWorkspace">
      <fb-actions>
        <li coyo-global-permissions="CREATE_WORKSPACE" data-test="button-create-workspace">
          <a ui-sref="main.workspace.create" class="tour-placeholder-container">
            <i class="zmdi zmdi-plus-circle"></i>&nbsp;{{:: 'MODULE.WORKSPACES.CREATE.TITLE' | translate}}
            <coyo-tour-step topic="workspaces" order="110" placement="bottom" step-id="workspaces.create"
                            title="{{:: 'TOUR.WORKSPACES.CREATE.TITLE' | translate }}"
                            content="{{:: 'TOUR.WORKSPACES.CREATE' | translate }}"></coyo-tour-step>
          </a>
        </li>
      </fb-actions>
      <fb-filter max-depth="1">
        <coyo-category-filter
            categories="$ctrl.categories"
            filter-model="$ctrl.categoryFilter"
            category-model-class="$ctrl.categoryModelClass"
            title-key="MODULE.WORKSPACES.FILTER.CATEGORY"
            on-selection-change="$ctrl.setFilterCategories(selected)"
            can-manage="$ctrl.canManageWorkspaceCategories"
            total-count="$ctrl.getTotalCount()"
            not-available-count="$ctrl.missingCount"
            editing-category="ctrl.editingCategory"
            category-icon="apps">
        </coyo-category-filter>
        <coyo-selection-filter
            title-key="MODULE.WORKSPACES.FILTER.STATUS"
            filter-model="$ctrl.statusFilterModel"
            single-select="true"
            on-single-selection-change="$ctrl.setFilterStatus(selected)"
            text-prefix="MODULE.WORKSPACES.FILTER.STATUS"
            css-class="filter-status">
        </coyo-selection-filter>
        <coyo-selection-filter
            title-key="MODULE.WORKSPACES.FILTER.MEMBERSHIP"
            filter-model="$ctrl.membershipFilterModel"
            single-select="true"
            on-single-selection-change="$ctrl.setFilterMembership(selected)"
            text-prefix="MODULE.WORKSPACES.FILTER.MEMBERSHIP"
            css-class="filter-membership">
        </coyo-selection-filter>
      </fb-filter>
      <fb-search>
        <coyo-search-filter change="$ctrl.search" placeholder="MODULE.WORKSPACES.FILTER.SEARCH"
                            search-term="{{$ctrl.query.term}}"></coyo-search-filter>
      </fb-search>
    </coyo-filterbox>

    <coyo-tour-step-mobile topic="workspaces" order="105"
                           image-url="/assets/images/tour/tour-mobile-workspaces-list.jpg"
                           title="{{:: 'TOUR.WORKSPACES.LIST.TITLE' | translate }}"
                           content="{{:: 'TOUR.WORKSPACES.LIST' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="workspaces" order="110"
                           image-url="/assets/images/tour/tour-mobile-workspaces-create.jpg"
                           title="{{:: 'TOUR.WORKSPACES.CREATE.TITLE' | translate }}"
                           content="{{:: 'TOUR.WORKSPACES.CREATE' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="workspaces" order="115"
                           image-url="/assets/images/tour/tour-workspaces-join.jpg"
                           title="{{:: 'TOUR.WORKSPACES.JOIN.TITLE' | translate }}"
                           content="{{:: 'TOUR.WORKSPACES.JOIN' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="workspaces" order="120"
                           image-url="/assets/images/tour/tour-workspaces-request.jpg"
                           title="{{:: 'TOUR.WORKSPACES.REQUEST.TITLE' | translate }}"
                           content="{{:: 'TOUR.WORKSPACES.REQUEST' | translate }}"></coyo-tour-step-mobile>

    <coyo-tour-step-mobile topic="workspaces" order="125"
                           image-url="/assets/images/tour/tour-workspaces-invited.jpg"
                           title="{{:: 'TOUR.WORKSPACES.INVITED.TITLE' | translate }}"
                           content="{{:: 'TOUR.WORKSPACES.INVITED' | translate }}"></coyo-tour-step-mobile>

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-sidebar hidden-xs hidden-sm"
                      name="workspaces-list-bottom"
                      hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>
  </div>

  <div class="content-main">

    <!-- Widget Slot -->
    <coyo-widget-slot class="widget-slot-content"
                      name="workspaces-list-content"
                      hide-slot-placeholder="!$root.globalEditMode"></coyo-widget-slot>

    <coyo-tour-step topic="workspaces" order="105" placement="bottom" no-highlight="true" popup-class="mt-l"
                    title="{{:: 'TOUR.WORKSPACES.LIST.TITLE' | translate }}" step-id="workspaces.list"
                    content="{{:: 'TOUR.WORKSPACES.LIST' | translate }}"></coyo-tour-step>

    <div class="row" ng-if="$ctrl.loading">
      <div class="col-xl-6" ng-if="::$root.screenSize.isLg">
        <coyo-render-skeleton container="skeleton-container-workspace-card"
                              name="skeleton-workspace-card"></coyo-render-skeleton>
      </div>
      <div class="col-xl-6" ng-if="::$root.screenSize.isLg">
        <coyo-render-skeleton container="skeleton-container-workspace-card"
                              name="skeleton-workspace-card"></coyo-render-skeleton>
      </div>
      <div class="col-xs-12" ng-if="::!$root.screenSize.isLg">
        <coyo-render-skeleton container="skeleton-container-workspace-card"
                              name="skeleton-workspace-card"></coyo-render-skeleton>
      </div>
    </div>

    <div class="row" ng-if="!$ctrl.loading">
      <div class="col-xl-6" ng-repeat="workspace in $ctrl.currentPage.content track by workspace.id">
        <div class="panel panel-default panel-xs workspace-card">
          <coyo-ribbon type="archived" ng-if="::workspace.archived === true">
          </coyo-ribbon>
          <div class="panel-body">
            <div class="title-container">
              <div class="avatar-container">
                <coyo-sender-avatar [sender]="workspace"
                                    [no-link]="workspace.visibility !== 'PUBLIC' && workspace.membershipStatus !== 'APPROVED'"></coyo-sender-avatar>
              </div>
              <div class="description-container">
                <h4 class="workspace-title pointer" ng-if="::workspace.visibility === 'PUBLIC' || workspace.membershipStatus === 'APPROVED'">
                  <a ui-sref="main.workspace.show({idOrSlug: workspace.slug})"
                     ui-sref-opts="{reload: 'main.workspace.show', inherit: false}">
                    {{:: workspace.displayName }}
                  </a>
                </h4>
                <h4 ng-if="::workspace.visibility !== 'PUBLIC' && workspace.membershipStatus !== 'APPROVED'">
                  {{:: workspace.displayName }}</h4>
                <div class="label-container hidden-xs">
                  <div class="label label-muted" ng-repeat="category in ::workspace.categories | limitTo:2"
                       uib-tooltip="{{::category.name}}">{{::category.name }}
                  </div>
                  <div class="label label-muted" ng-if="::workspace.categories.length == 3"
                       uib-tooltip="{{::workspace.categories[2].name}}">{{::workspace.categories[2].name }}
                  </div>
                  <div ng-if="::workspace.categories.length > 3" class="label label-muted"
                       uib-tooltip-html="::$ctrl.getWorkspaceCategoryTooltip(workspace)">{{::workspace.categories.length
                    - 2}} {{:: 'WORKSPACE.CATEGORIES.COUNT' | translate}}
                  </div>
                </div>
                <div class="label-container hidden-sm hidden-md hidden-lg hidden-print">
                  <div class="label label-muted" ng-repeat="category in ::workspace.categories">{{:: category.name }}
                  </div>
                </div>
                <div class="text-muted workspace-description"
                     ng-class="::{'workspace-description-multiline': !workspace.categories.length}">{{::
                  workspace.description}}
                </div>
              </div>
            </div>
            <div class="controls-container">
              <div class="workspace-card-labels">
                <coyo-workspace-visibility workspace="::workspace"
                                           class="label label-muted"></coyo-workspace-visibility>
                <span class="label label-muted"><i class="zmdi zmdi-accounts"></i> {{:: workspace.memberCount}}</span>
              </div>
              <div>
                <oyoc-workspace-actions workspace="::workspace"
                                        ng-if="$ctrl.showWorkspaceActions(workspace)"></oyoc-workspace-actions>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- empty text -->
    <coyo-empty-list-notice
        ng-show="!$ctrl.loading && !$ctrl.currentPage.totalElements"
        text-key="MODULE.WORKSPACES.EMPTY"
        filters-resettable="$ctrl.filtersResettable"
        reset-filters="$ctrl.resetFilters()">
    </coyo-empty-list-notice>

    <div class="col-xs-12" ng-if="$ctrl.currentPage">
      <coyo-table-pagination page="$ctrl.currentPage"></coyo-table-pagination>
    </div>
  </div>
</section>
