@import "variables";
@import "mixins";

:host {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $n0;
}

.launchpad-body {
  max-width: 720px;
}

h3 {
  line-height: 1em;
  margin: 0 0 40px;
  text-align: center;

  @include sm-and-up() {
    margin: 0 0 40px 32px;
    text-align: left;
  }
}

form {
  display: flex;
  flex-direction: column;

  @include sm-and-up() {
    flex-direction: row;
  }
}

.link-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;

  @include sm-and-up() {
    margin-right: 16px;
  }
}

.link-icon-buttons {
  margin: 16px 0;

  @include sm-and-up() {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.link-meta {
  flex: 1 0 auto;

  .ng-select.custom {
    max-width: 504px;
  }
}

.link-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 32px;

  button { margin-right: 8px; }
  button:last-child { margin-right: 0; }
}

.url-input {
  position: relative;

  input {
    padding-right: 40px;
  }

  button {
    position: absolute;
    top: 4px;
    right: 4px;
  }
}
