@import "variables";
@import "mixins";

:host {
  display: block;
  border-bottom: 1px solid $n50;
  position: relative;
  padding: 12px 16px;

  @include sm-and-up() {
    padding: 16px 24px;
  }
}

.timeline-share-header {
  display: flex;
  color: $n200;
  font-size: 15px;
  line-height: 22px;
}

.share-avatar {
  margin-right: 16px;
}

.timeline-share-header-content {
  flex: 1;
  margin-right: 32px;

  @include sm-and-up() {
    margin-right: 16px;
  }
}

.timeline-share-header-time {
  font-size: 14px;
  line-height: 16px;
  margin-top: 2px;
}

.timeline-share-options {
  position: absolute;
  top: 12px;
  right: 0;
}

.timeline-share-message {
  @include break-word();
  padding-top: 16px;
}

:host-context(coyo-shares-modal) {
  padding-left: 0;

  &:first-child {
    padding-top: 4px;
  }

  &:last-child {
    border-bottom: 0;
    padding-bottom: 4px;
  }
}
