<section class="container-wrapper">
  <section class="container-admin">

    <div oyoc-backdrop></div>
    <div oyoc-admin-navigation></div>

    <section class="content-wrapper">
      <oyoc-admin-sidebar></oyoc-admin-sidebar>
      <div class="content" ui-view></div>
    </section>

  </section>
  <oyoc-license-warning-bar area="'admin'"></oyoc-license-warning-bar>
  <oyoc-reconnect-warning-bar></oyoc-reconnect-warning-bar>
  <oyoc-maintenance-message></oyoc-maintenance-message>
</section>
