@import "variables";
@import "mixins";

:host-context(coyo-file-image-preview):not(.loading) {
  width: 100%;
  height: 100%;
}

.gif-play-button, .alt-details-link {
  display: none;
}

.pi-spinner-vert-container {
  text-align: center;
}

.pi-preview-image-container {
  width: 100%;
  height: 100%;
}

.pi-background-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
}

.pi-preview-image-container.has-animated-gif {
  position: relative;
  white-space: nowrap;
  min-height: 60px;
  min-width: 60px;
  @include user-select(none);

  .gif-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .gif-play-button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    line-height: 32px;
    color: white;
    text-shadow: 0 0 3px black;
    opacity: 0.6;
    will-change: opacity;
    transition: opacity 0.2s ease-in-out;
    z-index: 1;
  }
  .gif-play-button:focus,
  .alt-details-link:focus {
    outline: 0;
    opacity: 1;
  }
  &:hover .gif-play-button {
    opacity: 1;
  }
  &.gif-is-running .gif-play-button {
    opacity: 0;
  }

  .alt-details-link {
    display: inline-block;
    vertical-align: bottom;
    margin-left: -36px;
    position: relative;
    padding: 12px 8px 8px 12px;
    font-size: 16px;
    line-height: 16px;
    color: white;
    text-shadow: 0 0 3px black;
    opacity: 0.6;
    will-change: opacity;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

/* clean-css ignore:start */
:host-context(.pi-container.unavailable, .pi-container.loading) {
  .pi-preview-image-container.has-animated-gif {
    .gif-play-button,
    .alt-details-link {
      display: none;
    }
  }
}
/* clean-css ignore:end */

:host-context(coyo-file-preview.same-size:first-of-type){
  img {
    width: 100%;
    image-orientation: from-image;
  }
}

:host-context(coyo-file-preview:not(.same-size):first-of-type.single-file){
  img {
    height: auto;
    max-height: 300px;
    max-width: 100%;
    image-orientation: from-image;
  }
}
