@import "variables";
@import "mixins";

.callout-widget {
  .alert {
    margin-bottom: 0;

    @include sm-and-down {
      border-radius: 0;
    }
  }
}

:host-context(.widget-slot-panels) {
  .callout-widget {
    margin-bottom: $line-height-computed;

    @include sm-and-down {
      margin-bottom: 12px;
    }

    .alert {
      padding: $panel-body-padding;

      @include xs {
        padding: $panel-xs-body-padding;
      }
    }
  }
}
