<div class="form-group" ng-class="{'has-error': settingsForm.birthdayAdvancedDays.$invalid}">
  <label class="col-sm-2 control-label" translate="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_ADVANCED_DAYS.LABEL"></label>
  <div class="col-sm-9">
    <input name="birthdayAdvancedDays" class="form-control" type="number" min="1" max="366"
           ng-model="model.settings._daysBeforeBirthday">
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_ADVANCED_DAYS.HELP"></coyo-help>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_NUMBER.LABEL"></label>
  <div class="col-sm-9">
    <input name="_birthdayNumber" class="form-control" type="number"
           ng-model="model.settings._birthdayNumber">
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_NUMBER.HELP"></coyo-help>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" translate="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY.DISPLAY.LABEL"></label>
  <div class="col-sm-9">
    <div class="radio">
      <label>
        <input name="tab" type="radio" ng-model="model.settings._fetchBirthdays" value="ALL">
        {{:: 'WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_ALL.USERS' | translate }}
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="tab" type="radio" ng-model="model.settings._fetchBirthdays" value="FOLLOWERS">
        {{:: 'WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_SUBSCRIBED.USERS' | translate }}
      </label>
    </div>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY_ALL.USERS.HELP"></coyo-help>
  </div>
</div>
<div class="form-group">
  <label for="age" class="col-sm-2 control-label" translate="WIDGETS.BIRTHDAY.SETTINGS.BIRTHDAY.AGE.LABEL"></label>
  <div class="col-sm-9">
    <div class="checkbox">
      <label>
        <coyo-checkbox id="age" name="age" ng-model="model.settings._displayAge"></coyo-checkbox>
      </label>
    </div>
  </div>
</div>
