.code-widget-warning {
  .alert {
    margin: 0;

    @media print, screen and (min-width: $screen-md-min) {
      margin: 0;
    }
  }
}

.widget-slot-plain, .widget-slot-panel {
  .code-widget {
    .panel {
      background-color: transparent;
      margin-bottom: 0;
      -webkit-box-shadow: initial;
      box-shadow: initial;
      border: 0;
    }
  }
}

.widget-slot-plain {
  .code-widget {
    margin-bottom: -24px;
    .panel {
      margin-bottom: 24px;
    }
  }
}

.code-widget-settings {

  .col-header {
    margin-bottom: 5px;
    display: flex;
    justify-content: normal;
    align-items: center;

    label {
      margin-bottom: 0;
    }
  }

  .code-textarea {
    margin: 8px 20px 8px 8px;

    @media print, screen and (min-width: $screen-md-min) {
      margin: 15px;
    }

    textarea {
      min-height: 38px;
      resize: vertical;
    }
  }

  .code-tip {
    margin: 5px 0 0 5px;
  }

  .form-group .help {
    margin-top: 0;
  }
}
