.license-indicator {
  display: inline-block;
  position: relative;
  top: 0;
  right: -4px;
  font-size: 95% !important;

  &.error {
    color: $color-red;
  }

  &.warning {
    color: $color-yellow;
  }

  @media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 100% !important;
  }
}
