:host,
svg-icon {
  display: inline-flex;
}

.size-m {
  width: 18px;
  height: 18px;
}

.size-lg {
  width: 24px;
  height: 24px;
}

.o365 {
  width: 40px;
  height: 36px;
}

.caret-right {
  width: 5px;
  height: 8px;
}
