.admin-theme-details {
  .nav-tabs {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.admin-theme-colors {
  .row {
    margin-bottom: 24px;
  }

  .input-group-addon {
    width: 40px;
  }
}

.admin-theme-images {
  .preview {
    background: url($image-bg-grid) repeat;
  }

  .theme-clear {
    color: $color-red;
    cursor: pointer;

    &:hover {
      color: darken($color-red, 10%);
    }
  }
}

.admin-theme-css {
  .alert {
    pre {
      @include ellipsis();
    }
  }
}