@import "mixins";
@import "variables";

.single-blog-article-widget {
  .article-teaser-image {
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 16px;
    min-width: 100%;
    padding-bottom: 16px;

    img {
      cursor: pointer;
      display: block;
      width: 100%;
    }
  }

  .article-meta {
    align-items: center;
    display: flex;

    a {
      flex: 1;
      margin-right: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    span.article-time {
      color: $color-gray;
      font-size: 13px;
    }
  }

  h3 {
    @include break-word();
    font-size: 18px;
    line-height: 1.33333;
    margin: 4px 0 12px;
  }

  .teaser-text {
    color: $color-gray;
    font-size: 13px;
  }

  .teaser-text {
    @include ellipsis-multiline(4, 80px);
    @include break-word();
    line-height: 20px;
    margin-bottom: 8px;
  }

  .teaser-more {
    font-size: 13px;
  }
}

// Stretch the image over widget border
// only in separate widget slots
.widget-slot-panels,
.widget-slot-panel {
  .widgets-container .widget {

    .single-blog-article-widget {

      .article-teaser-image {
        margin: $panel-body-padding-negate-sm;
        margin-bottom: 0;
        overflow: hidden;

        @media print, screen and (min-width: $screen-sm-min) {
          margin: $panel-body-padding-negate-md;
          margin-bottom: 0;
        }

      }
    }

    &:first-child .single-blog-article-widget .article-teaser-image,
    .panel .single-blog-article-widget .article-teaser-image {
      @media print, screen and (min-width: $screen-md-min) {
        border-radius: $panel-border-radius;
      }
    }
  }
}
