@import "variables";
@import "mixins";

:host-context(coyo-video-preview-list) {
  display: block;
  margin-bottom: 8px;
}

.iframe-wrapper {
  position: relative;
  padding-top: 56%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  background-color: #000;
  overflow: hidden;

  @include sm-and-up() {
    border-radius: 4px;
  }
}

iframe {
  height: 100% !important;
  width: 100% !important;
}

.video-preview-delete {
  display: flex;
  padding: 0;
  border-radius: 50%;
  color: $n0;
  background-color: $n500;
  align-items: center;
  float: right;
  z-index: 1;
  position: relative;
  height: 32px;
  width: 32px;
  justify-content: center;
  top: -7px;
  left: 7px;

  i {
    margin: 0;
  }

  &:focus,
  &:hover {
    background-color: $n400;
  }

  &:active {
    background-color: $n600;
  }
}
