<ng-select #senderSelect
           [(ngModel)]="ngModel"
           [items]="senders$ | async"
           [loading]="loading"
           [typeahead]="senderFilterInput$"
           [placeholder]="placeholder | translate"
           [virtualScroll]="true"
           [clearable]="false"
           [disabled]="disabled"
           (scroll)="onScroll($event)"
           (change)="onChange($event)"
           appendTo=".ng-select-overlay-container"
           data-test="select-sender-component">
  <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
    <div class="ng-option disabled">{{'SELECT_SENDER.DATA_NOT_FOUND' | translate : {searchTerm: searchTerm} }}</div>
  </ng-template>
  <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
    <coyo-sender-options-view [sender]="item" [searchTerm]="search"></coyo-sender-options-view>
  </ng-template>
  <ng-template ng-label-tmp let-item="item">
    {{item.displayName}}
  </ng-template>
</ng-select>
