<span ng-if="!$ctrl.languages[$ctrl.currentLanguage].empty" class="article-title">{{$ctrl.languages[$ctrl.currentLanguage].translations.title}}</span>
<span ng-if="$ctrl.languages[$ctrl.currentLanguage].empty" class="article-title">{{$ctrl.article.title}}</span>
<span class="label label-primary article-badge"
      ng-if="$ctrl.article.isNewArticle && $ctrl.showStatus"
      translate="APP.WIKI.ARTICLE.NEW"></span>
<span class="label label-warning article-badge"
      ng-if="$ctrl.article.isUpdated && $ctrl.showStatus"
      translate="APP.WIKI.ARTICLE.UPDATED"></span>