@import "variables";
@import "mixins";

$icon-size: 40px;

:host {
  position: relative;
  display: block;

  .mat-icon-button {
    position: absolute;
    top: 16px;
    right: 0;
  }
}

// only show context menu on hover in an a11y-compliant way
/* clean-css ignore:start */
:host-context(html:not(.touchevents)) {
  .launchpad-link-wrapper:not(:hover) .mat-icon-button:not(.cdk-keyboard-focused):not(.cdk-program-focused):not([aria-expanded=true]) {
    @include visually-hidden();
  }
}
/* clean-css ignore:end */
a {
  display: flex;
  align-items: flex-start;
  padding: 8px 0;

  @include sm-and-up() {
    padding: 12px 0;
  }

  &.managable {
    padding-right: 32px;
  }
}

.link-content {
  flex: 1 1 auto;
  min-width: 0;
}

.name {
  color: $n600;
  font-size: 16px;
  line-height: 20px;
  @include break-word();
}

.url {
  color: $n100;
  font-size: 14px;
  line-height: 20px;
  @include ellipsis();
}

/**
 * ===== condensed view styles
 */

:host-context(.condensed) {
  .name {
    @include ellipsis();
  }

  .url {
    display: none;
  }

  .mat-icon-button {
    top: 6px;
  }
}

:host-context(.touchevents .condensed) {
  .mat-icon-button {
    top: 2px;
  }
}
