<button mat-icon-button size="small" type="button" (click)="toggle()" role="switch"
        [color]="model ? 'accent' : null"
        [class.active]="!!model"
        [attr.aria-checked]="!!model"
        [attr.aria-label]="('MODULE.TIMELINE.RESTRICTION.ARIA.' + (model ? 'SELECTED' : 'UNSELECTED')) | translate"
        [matTooltip]="('MODULE.TIMELINE.RESTRICTION.TOOLTIP.' + (model ? 'SELECTED' : 'UNSELECTED')) | translate"
        matTooltipPosition="above">
  <mat-icon [svgIcon]="model ? 'lock' : 'lock-unlocked'"></mat-icon>
</button>
