<!-- blog source selection:start -->
<div class=form-group>
  <label class="col-sm-3 control-label" translate="WIDGETS.BLOG.SETTINGS.BLOG_SOURCES.LABEL"></label>
  <div  class="col-sm-8">
    <div class="radio">
      <label>
        <input name="sourceSelection" id="source-all" type="radio" ng-model="model.settings._sourceSelection" value="ALL">
        <span translate="WIDGETS.BLOG.SETTINGS.BLOG_USE_ALL_BLOGS.LABEL"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="sourceSelection" id="source-subscribed" type="radio" ng-model="model.settings._sourceSelection" value="SUBSCRIBED">
        <span translate="WIDGETS.BLOG.SETTINGS.BLOG_USE_SUBSCRIBED_BLOGS.LABEL"></span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input name="sourceSelection" id="source-selected" type="radio" ng-model="model.settings._sourceSelection" value="SELECTED">
        <span translate="WIDGETS.BLOG.SETTINGS.BLOG_USE_SELECTED_BLOGS.LABEL"></span>
      </label>
    </div>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BLOG.SETTINGS.BLOG_SOURCES.HELP"></coyo-help>
  </div>
</div>
<div class=form-group ng-if="model.settings._sourceSelection === 'SELECTED'">
  <label class="col-sm-3 control-label" translate="WIDGETS.BLOG.SETTINGS.BLOG_APP.LABEL"></label>
  <div class="col-sm-8">
    <coyo-select-blog-app ng-model="model.settings._app" ng-required="model.settings._sourceSelection === 'SELECTED'"></coyo-select-blog-app>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BLOG.SETTINGS.BLOG_APP.HELP"></coyo-help>
  </div>
</div>
<!-- blog source selection:end -->
<div class=form-group>
  <label class="col-sm-3 control-label" translate="WIDGETS.BLOG.SETTINGS.BLOG_SHOW_TEASER_IMAGE.LABEL"></label>
  <div  class="col-sm-8">
    <div class="checkbox">
      <label>
        <coyo-checkbox id="showTeaserImage" name="showTeaserImage" ng-model="model.settings._showTeaserImage"></coyo-checkbox>
      </label>
    </div>
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BLOG.SETTINGS.BLOG_SHOW_TEASER_IMAGE.HELP"></coyo-help>
  </div>
</div>
<div class="form-group" ng-class="{'has-error': settingsForm.articleCount.$invalid}">
  <label class="col-sm-3 control-label" translate="WIDGETS.BLOG.SETTINGS.ARTICLE_COUNT.LABEL"></label>
  <div class="col-sm-8">
    <input name="articleCount" class="form-control" type="number" min="1" max="20" ng-model="model.settings._articleCount">
  </div>
  <div class="col-sm-1 hidden-xs">
    <coyo-help tip="WIDGETS.BLOG.SETTINGS.ARTICLE_COUNT.HELP"></coyo-help>
  </div>
</div>
