<div class="panel panel-default panel-form-app panel-form-app-list">
    <div class="panel-heading">
        <div class="panel-nav navigation">
            <!-- Search -->
            <div ng-if="$ctrl.fields.length > 0" class="search-wrapper panel-heading-item">
                <i class="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-search"></i>
                <input type="search" class="search-control"
                       ng-model="$ctrl.search"
                       ng-model-options="{ debounce: 300 }"
                       ng-change="$ctrl.searchKeyPressed($event)"
                       placeholder="{{'APP.LIST.SEARCH' | translate}}">
            </div>

            <!-- Entry count -->
            <coyo-page-entry-count ng-if="$ctrl.fields.length > 0" class="panel-heading-item hidden-xs" page="$ctrl.currentPage">
            </coyo-page-entry-count>

            <!-- Back button -->
            <a class="btn-back panel-heading-item" ui-sref="^.form">
                <i class="zmdi zmdi-hc-fw zmdi-assignment"></i><span class="hidden-xs">&nbsp;{{:: 'APP.FORM.SEE_FORM' | translate}}</span>
            </a>

            <!-- Configure & Export -->
            <coyo-context-menu title="{{::$ctrl.app.settings.title}}"
                               ng-if="$ctrl.app._permissions.manage || $ctrl.app._permissions.seeResults"
                               align-right="true">
                <li ng-if="$ctrl.app._permissions.manage">
                    <a ui-sref="^.configure"><i class="zmdi zmdi-hc-fw zmdi-settings"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.CONFIGURE' | translate}}</a>
                </li>
                <li ng-if="$ctrl.app._permissions.seeResults" class="divider"></li>
                <li ng-if="$ctrl.app._permissions.seeResults">
                    <a href coyo-download="$ctrl.getDownloadUrl(false)"><i class="zmdi zmdi-hc-fw zmdi-download"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.DOWNLOAD' | translate}}</a>
                </li>
                <li ng-if="$ctrl.app._permissions.seeResults">
                    <a href coyo-download="$ctrl.getDownloadUrl(true)"><i class="zmdi zmdi-hc-fw zmdi-download"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.DOWNLOAD_ALL' | translate}}</a>
                </li>
            </coyo-context-menu>
        </div>
        <h3>{{::$ctrl.app.settings.title}}</h3>
        <hr>
    </div>
    <div class="panel-body">
        <div class="dynamic-app-table">
            <div class="dynamic-app-table-header">
                <div class="dynamic-app-table-row-item">
                    <span class="cell-content" ng-click="$ctrl.sortOnCreated()">
                        <span translate="APP.FORM.TABLE.CREATED"></span>
                        <i class="hidden-xs zmdi"
                           ng-class="{'zmdi-caret-down-circle': $ctrl.sortConfig.dir === 'DESC', 'zmdi-caret-up-circle': $ctrl.sortConfig.dir === 'ASC'}"
                           ng-if="$ctrl.sortConfig.id === 'created'"></i>
                    </span>
                </div>
                <div class="dynamic-app-table-row-item">
                    <span class="cell-content" ng-click="$ctrl.sortOnAuthor()">
                        <span translate="APP.FORM.TABLE.AUTHOR"></span>
                        <i class="hidden-xs zmdi"
                           ng-class="{'zmdi-caret-down-circle': $ctrl.sortConfig.dir === 'DESC', 'zmdi-caret-up-circle': $ctrl.sortConfig.dir === 'ASC'}"
                           ng-if="$ctrl.sortConfig.id === 'author'"></i>
                    </span>
                </div>
                <div class="dynamic-app-table-row-item" ng-repeat="field in $ctrl.fields" ng-if="!field.hidden" ng-click="$ctrl.sortOnField(field)">
                    <span class="cell-content">{{::field.name}}
                        <i class="hidden-xs zmdi"
                           ng-class="{'zmdi-caret-down-circle': $ctrl.sortConfig.dir === 'DESC', 'zmdi-caret-up-circle': $ctrl.sortConfig.dir === 'ASC'}"
                           ng-if="$ctrl.sortConfig.id === field.id"></i>
                    </span>
                </div>
            </div>
            <div class="dynamic-app-table-row" ng-repeat="entry in $ctrl.currentPage.content">
                <div class="dynamic-app-table-row-item" data-header="{{:: 'APP.FORM.TABLE.CREATED' | translate}}">
                    {{:: entry.created | amDateFormat: 'l' }}
                </div>
                <div class="dynamic-app-table-row-item" data-header="{{:: 'APP.FORM.TABLE.AUTHOR' | translate}}">
                    <span class="user-field-wrapper author-container">
                        <coyo-user-avatar [user]="::entry.author" avatar-size="xs" [show-online-status]="false" class="mr-xxs" [no-link]="true"></coyo-user-avatar>
                        <a ui-sref="main.profile({userId: entry.author.slug})">{{::entry.author.displayName}}</a>
                    </span>
                </div>
                <div class="dynamic-app-table-row-item"
                     ng-class="'field-' + field.key"
                     ng-repeat="field in $ctrl.fields"
                     ng-if="::!field.hidden"
                     data-header="{{::field.name}}">
                    <coyo-render-value class="cell-content" value="::$ctrl.getFieldValue(entry, field)" field="::field" config="::$ctrl.getConfig(field)"></coyo-render-value>
                </div>
                <div class="btn-container">
                    <div class="dynamic-app-table-row-context-menu options">
                        <coyo-context-menu align-right="true">
                            <li>
                                <a href ng-click="$ctrl.showDetails(entry)">
                                    <i class="zmdi zmdi-hc-fw zmdi-assignment"></i>&nbsp;{{:: 'APP.LIST.CONTEXTMENU.OPEN' | translate}}
                                </a>
                            </li>
                            <li class="divider" ng-if="::$ctrl.app._permissions.manage"></li>
                            <li ng-if="::$ctrl.app._permissions.manage">
                                <a href ng-click="$ctrl.deleteEntry(entry)">
                                    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{:: 'DELETE' | translate}}
                                </a>
                            </li>
                        </coyo-context-menu>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <coyo-table-pagination ng-if="$ctrl.currentPage.content" page="$ctrl.currentPage"></coyo-table-pagination>
    </div>
</div>
