<div class="modal-content-wrapper dynamic-entry-details-modal">
    <div class="modal-header">
        <h3 class="modal-title" translate="APP.FORM.DETAIL.MODAL.TITLE.VIEW"></h3>
        <span class="modal-close" ng-click="$dismiss()">
      <i class="zmdi zmdi-close img-close"></i>
    </span>
    </div>
    <div class="modal-body">
        <div class="table">
            <div>
                <div class="table-label" translate="APP.FORM.TABLE.CREATED"></div>
                <div class="table-content" ng-class="'field-date'">
                    {{ ::$ctrl.entry.created | amDateFormat: 'l' }}
                </div>
            </div>
            <div>
                <div class="table-label" translate="APP.FORM.TABLE.AUTHOR"></div>
                <div class="table-content" ng-class="field-user">
                    <coyo-user-avatar [user]="::$ctrl.entry.author" avatar-size="xs" [show-online-status]="false" class="mr-xxs" [no-link]="true"></coyo-user-avatar>
                    <a ui-sref="main.profile({userId: $ctrl.entry.author.slug})">{{::$ctrl.entry.author.displayName}}</a>
                </div>
            </div>
            <div ng-repeat="field in $ctrl.fields">
                <div class="table-label" data-test="{{::field.name}}">{{::field.name}}</div>
                <div class="table-content" ng-class="'field-' + field.key">
                    <coyo-render-value class="cell-content" value="::$ctrl.getFieldValue($ctrl.entry, field)" field="::field" config="::$ctrl.getConfig(field)"></coyo-render-value>
                </div>
            </div>
        </div>
    </div>
</div>