<span class="btn-comments" ng-class="{ loading: $ctrl.isLoading, active: $ctrl.count }">
  <a class="handle" ng-href="{{:: $ctrl.link}}"><i class="zmdi zmdi-comments"></i></a>
  <a class="count" ng-href="{{:: $ctrl.link}}">{{ $ctrl.count }}</a>
</span>