@import "../../app/widgets/single-file/single-file-widget-split-mixin";
// Print - Mixin
// --------------------------------------------------
//
// Mixin that determines display and styling properties for printing, and fixing the grid layout to one version.
// This is important because all browsers interprete the actual paper size
// differently (and sometimes as extremely narrow) and would thus use different breakpoints.
//
// It should be used for the actual @media print query
// as well as for elements that are displayed on screen but simulate the printing result (e.g. styling certain elements).
//
// example usage:
// @include print-display()
@mixin print-display() {

  @media (min-width: 0) {
    @include make-grid(md);
  }

  // Overwrite for print
  // Responsive: Visibility utilities from _responsive-utilities.scss
  //
  // assuming that layout should always look like lg even if media query for paper suggests smaller width
  // ------------------------------------------------------------------------------------------------------

  .visible-xs,
  .visible-xs-block,
  .visible-xs-inline,
  .visible-xs-inline-block,
  .visible-sm,
  .visible-sm-block,
  .visible-sm-inline,
  .visible-sm-inline-block,
  .visible-md,
  .visible-md-block,
  .visible-md-inline,
  .visible-md-inline-block {
    display: none !important;
  }

  @include responsive-visibility('.visible-lg');
  .visible-lg-block {
      display: block !important;
  }
  .visible-lg-inline {
      display: inline !important;
  }
  .visible-lg-inline-block {
      display: inline-block !important;
  }

  @include responsive-visibility('.hidden-xs');
  @include responsive-visibility('.hidden-sm');
  @include responsive-visibility('.hidden-md');

  .panel, .modal-content {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .navigation, .modal-header, .modal-footer, .modal-backdrop, .article-status-options  {
    display: none !important;
  }

  .widget-slot-options {
    display: none;
  }

  coyo-poll-widget .vote-bar {
    border-top: solid 5px $color-green;
    border-bottom: solid 5px $color-green;
    // required for edge that does not print background-colors at all so we fake it with thick borders
  }

  .single-file-widget {
    .single-file-widget-details {
      @include split-view-single-file(200px);
    }
  }

  coyo-rss-widget {
    .rss-entry {
      margin-left: -30px;
      margin-right: -30px;
      padding: 18px;
      margin: 0px -18px;
    }
  }

  .col-md-12 ,
  .col-md-8,
  .widget-slot-content {
    coyo-widget coyo-rss-widget {

      .rss-entry {
        display: flex !important;
        padding-right: 30px;

        .image {
          margin-right: 30px !important;
        }
      }
    }
  }
}

// Mixin that determines display of widgets for printing, hiding all elements that are not intended for printing.
//
// It should be used for the actual @media print query
// as well as for elements that are displayed on screen but simulate the printing result (e.g. hiding certain widgets).
//
// example usage:
// @include print-exclude-widgets()
@mixin print-exclude-widgets() {
  .widget:not(.printable) {
    display: none;
  }
}
