<span class="context-menu language-switch-menu dropdown dropdown-toggle {{::$ctrl.id}}" ng-class="{'open': $ctrl.open}">
  <coyo-country-flag class="pointer context-menu-toggle" country="$ctrl.currentLanguage"
                     ng-click="$ctrl.toggleMenu(true)" form="rounded"></coyo-country-flag>
  <ul ng-show="$ctrl.open"
      id="{{::$ctrl.id}}"
      class="context-menu-list dropdown-menu language-switch-dropdown" click-outside="$ctrl.toggleMenu(false)"
      outside-if-not="{{$ctrl.id}}">
    <li class="context-menu-title">{{::'APPS.SETTINGS.LANGUAGE.SWITCH' | translate}}</li>
    <li class="language-option" ng-repeat="language in ::$ctrl.availableLanguages">
      <a ng-click="$ctrl.translateTo(language)">
        <coyo-country-flag class="pointer context-menu-toggle" country="language" form="rounded"></coyo-country-flag>
      &nbsp;&nbsp;{{::'LANGUAGE.LANGUAGES.'+ language | translate}}
      </a></li>
    <li class="divider"></li>
    <li class="context-menu-close visible-xs visible-sm"><a translate="{{::'CANCEL'}}"
                                                            ng-click="$ctrl.toggleMenu(false)"></a></li>
  </ul>
</span>
