<a href="{{bookmark.url}}" target="{{target}}" class="coyo-btn coyo-btn-link btn-bookmark">
  <div class="bookmark-icon" aria-hidden="true">
    <i class="zmdi zmdi-bookmark"></i>
  </div>

  <span>{{bookmark.title || bookmark.url}}</span>
</a>
