<div class="messaging-channel" ngf-drop="$ctrl.handleFileDrop($files)" ngf-drag="$ctrl.handleFileDrag($isDragging)"  ngf-multiple="true">
  <div ng-if="$ctrl.isFileDragging" class="messaging-channel-overlay"></div>
  <oyoc-messaging-channel-header msg-sidebar="$ctrl.msgSidebar" loading="$ctrl.loading" channel="$ctrl.channel"
                                 channel-locked="$ctrl.uploading"
                                 current-user="$ctrl.currentUser"></oyoc-messaging-channel-header>

  <div class="messaging-content"
       id="message-scrolling-containers"
       data-test="container-message-channel"
       scroll-glue oyoc-scroll-scope>
    <coyo-refresh on-scope-event="messaging-channel:refresh">
      <div class="message-day-slot" id="message-date-{{day}}" ng-repeat="day in $ctrl.days">
        <!-- Time jump divider -->
        <coyo-divider>
          <span ng-if="$ctrl.isCurrentDay(day)" translate="DATE.POINT.TODAY"
                uib-tooltip="{{day | amTimezone: $root.timezone | amDateFormat: 'ddd D. MMM'}}"
                tooltip-placement="top auto" tooltip-popup-delay="750"></span>
          <coyo-message-timestamp ng-if="!$ctrl.isCurrentDay(day)" date="day"></coyo-message-timestamp>
          <span ng-if="$first && $ctrl.messages.length < $ctrl.currentPage.totalElements"> - <a ng-click="$ctrl.loadMore()" translate="MODULE.MESSAGING.MESSAGES.LOAD_MORE"></a></span>
        </coyo-divider>
        <div id="message-group-{{$index}}" ng-repeat="messageGroup in $ctrl.messageGroups[day]">
          <div id="message-{{::message.id}}" ng-repeat="message in messageGroup track by $index + '-' + message.id + '-' + message.clientMessageId">
            <!-- Notification message -->
            <div class="message-notification"
                 ng-if="::message.data.notification"
                 title="{{::message.created | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}"
                 ng-bind-html="::message.data.notification.messageKey | translate:message.data.notification.messageArgs | boldify">
            </div>
            <div class="message-wrapper" ng-class="::{own: message.author.id == $ctrl.currentUser.id,
                              'has-error' : message.error,
                              'optimistic-pending' : message.optimisticPending}">
              <div class="message"
                   role="none"
                   ng-if="::(message.data.message || message.attachments.length > 0 || message.fileLibraryAttachments.length > 0 || $ctrl.uploads[message.clientMessageId].length > 0)"
                   ng-click="$ctrl.onMessageClick(message)"
                   ng-class="::{'hide-author': $ctrl.channel.type !== 'GROUP' || !message.author || !$first || message.author.id === $ctrl.currentUser.id,
                              'hide-text': !message.data.message.length,
                              'first': $first,
                              'middle': $middle,
                              'last': $last,
                              'has-attachments': message.attachments.length > 0}">
                <div class="message-body"
                     ng-class="::{
                      'with-author': $first && message.author && message.author.id !== $ctrl.currentUser.id && $ctrl.channel.type === 'GROUP',
                      'with-message': message.data.message
                      }"
                     data-test="text-chat-message">
                  <div class="message-author" ng-if="::($first && !!message.author && $ctrl.channel.type === 'GROUP')"
                       ng-style="::{color: message.author.color}">{{::message.author.displayName}}
                  </div>
                  <div class="message-text" ng-bind-html="::(message.data.message | markdown | hashtags)"></div>
                </div>
                <div class="message-attachments" ng-if="message.attachments.length">
                  <coyo-refresh watch="message.attachments">
                    <coyo-file-preview-list [attachments]="::message.attachments"
                                       [group-id]="::message.channelId"
                                       [author]="::message.author"
                                       [preview-url]="::$ctrl.previewUrl"
                                       non-preview-title="MODULE.PREVIEW_LIST.NON_PREVIEW_ATTACHMENTS.TITLE"
                                       size="lg"></coyo-file-preview-list>
                  </coyo-refresh>
                </div>
                <div class="message-channel-uploading-attachments"
                     ng-if="$ctrl.uploads[message.clientMessageId].length">
                  <div class="message-attachment"
                       ng-repeat="attachment in $ctrl.uploads[message.clientMessageId] | limitTo:20">
                    <div class="message-form-attachment-name">
                      <coyo-ngx-file-icon [file]="attachment" class="zmdi-hc-lg"></coyo-ngx-file-icon>
                      {{::attachment.name}}
                    </div>
                    <div class="message-form-attachment-opt">
                      <span class="progress-info text-muted" ng-if="!attachment.error">{{attachment.progress}}%</span>
                      <span class="progress-info" ng-if="attachment.error">
                        <i class="zmdi zmdi-hc-fw zmdi-alert-circle red" ng-if="attachment.error"
                           uib-tooltip="{{:: 'MODULE.MESSAGING.MESSAGES.UPLOAD_ERROR' | translate }}"
                           tooltip-placement="top auto"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <span ng-if="$last || message.optimisticPending || message.error">
                <div class="message-meta-info" ng-if="::(message.data.message || message.attachments.length > 0
                || message.data.notification || message.optimisticPending || message.error)">
                  <div class="message-time" ng-if="!message.optimisticPending && !message.error"
                       ng-class="::{'no-author': !message.author}"
                       title="{{::message.created | amTimezone: $root.timezone | amDateFormat:$root.dateFormat.long + ', ' + $root.timeFormat.short }}">
                    <span ng-show="!!message.id && !message.optimisticPending">
                      {{::message.created | amTimezone: $root.timezone | amDateFormat: $root.timeFormat.short}}
                    </span>
                  </div>
                  <div class="message-status animate" ng-if="message.optimisticPending || message.error">
                    <coyo-spinner inverted="true" size="xs" ng-if="message.showSpinner && !message.error"></coyo-spinner>
                    <div class="message-error"
                         ng-if="message.error"
                         ng-click="$ctrl.onMessageClick(message)"
                         translate="MODULE.MESSAGING.MESSAGES.SEND_ERROR_SHORT"
                         uib-tooltip="{{:: 'MODULE.MESSAGING.MESSAGES.SEND_ERROR' | translate }}"
                         tooltip-placement="top auto">
                    </div>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </coyo-refresh>
  </div>
  <coyo-message-form [channel-id]="$ctrl.channel.id" [files-dropped]="$ctrl.droppedFiles" (submit)="$ctrl.saveMessage($event)"></coyo-message-form>
</div>
