<span uib-tooltip-template="'app/commons/ui/components/message-timestamp/message-timestamp-tooltip.html'"
      tooltip-placement="{{:: $ctrl.tooltipPlacement || 'auto bottom'}}"
      tooltip-popup-delay="750">
  <!-- if the current day -->
  <time ng-show="::$ctrl.isCurrentDay($ctrl.date)" class="today">
    {{::$ctrl.date | amTimezone: $root.timezone | amDateFormat: $root.timeFormat.short}}
  </time>

  <!-- if the day before -->
  <time ng-show="::$ctrl.isYesterday($ctrl.date)" class="yesterday">
    {{::'DATE.POINT.YESTERDAY' | translate}}
  </time>

  <!-- if within a week -->
  <time ng-show="::$ctrl.isWithinAWeek($ctrl.date)" class="this-week">
    {{::$ctrl.date | amTimezone: $root.timezone | amDateFormat: 'dddd'}}
  </time>

  <!-- if a week ago -->
  <time ng-show="::$ctrl.isAWeekAgo($ctrl.date)" class="week-ago">
    {{::$ctrl.date | amTimezone: $root.timezone | amDateFormat: 'ddd D. MMM'}}
  </time>
</span>
