<div class="timeline-app" data-test="panel-timeline-app">
  <coyo-timeline-stream type="sender" [context]="$ctrl.sender" [can-post]="::$ctrl.app._permissions.createPost"></coyo-timeline-stream>
</div>