.swiper-slider {

  &.xs {
    .swiper-container {
      padding-bottom:  15%;
      min-height: 120px;
    }
  }

  &.sm {
    .swiper-container {
      padding-bottom:  35%;
    }
  }

  &.md {
    .swiper-container {
      padding-bottom:  45%;
    }
  }

  &.lg {
      .swiper-container {
      padding-bottom:  70%;
    }
  }

  &.disabled {
    .swiper-wrapper {
      transform: translate3d(0px, 0, 0) !important;
    }

    .swiper-pagination {
      display: none;
    }
  }

  .swiper-container {
    .swiper-wrapper {
      height: 100%;
      position: absolute;

      .swiper-slide {
        a.slick-slide-inner {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          color: $color-white;
          text-shadow: 1px 1px 1px $color-black;

          .teaser-caption {
            text-align: center;
            bottom: 0;
            left: 0;
            position: absolute;
            padding: 10px 10px 30px;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

            h4 {
              margin-bottom: 0px;
              font-size: 24px;
              text-transform: uppercase;
              @include ellipsis();
            }

            p {
              margin: 0;
              line-height: 20px;
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      height: 10px;
      width: 10px;
      border-radius: 10px;
      display: inline-block;
      margin: 0 2px;
      background-color: $color-gray;
      cursor: pointer;

      &.swiper-pagination-bullet-active {
        background-color: $color-white;
      }
    }
  }
}

.widget-layout-row-slot-wrapper {
  @media print, screen and (min-width: $screen-md-min) {
    &.col-md-12 {
      .swiper-slider {

        &.sm {
          .swiper-container {
            padding-bottom:  25%;
          }
        }

        &.md {
          .swiper-container {
            padding-bottom:  35%;
          }
        }

        &.lg {
          .swiper-container {
            padding-bottom:  60%;
          }
        }

        .swiper-container {
          .swiper-wrapper {
            height: 100%;
            position: absolute;

            .swiper-slide {
              a.slick-slide-inner {
                .teaser-caption {
                  h4 {
                    font-size: 28px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.col-md-6 {
      .swiper-slider {

        &.sm {
          .swiper-container {
            padding-bottom:  45%;
          }
        }

        &.md {
          .swiper-container {
            padding-bottom:  60%;
          }
        }

        &.lg {
          .swiper-container {
            padding-bottom:  85%;
          }
        }

        .swiper-container {
          .swiper-slide {
            a.slick-slide-inner {
              .teaser-caption {
                h4 {
                  font-size: 24px;
                }
              }
            }
          }
        }
      }
    }

    &.col-md-4 {
      .swiper-slider {

        &.sm {
          .swiper-container {
            padding-bottom:  50%;
          }
        }

        &.md {
          .swiper-container {
            padding-bottom:  80%;
          }
        }

        &.lg {
          .swiper-container {
            padding-bottom:  100%;
          }
        }

        .swiper-container {
          .swiper-slide {
            a.slick-slide-inner {
              .teaser-caption {
                h4 {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }

    &.col-md-3 {
      .swiper-slider {

        &.sm {
          .swiper-container {
            padding-bottom:  70%;
          }
        }

        &.md {
          .swiper-container {
            padding-bottom:  90%;
          }
        }

        &.lg {
          .swiper-container {
            padding-bottom:  100%;
          }
        }

        .swiper-container {
          .swiper-slide {
            a.slick-slide-inner {
              .teaser-caption {
                h4 {
                  font-size: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}
