.event {
  .sender-actions {
    .btn.change-cover {
      padding: 5px 13px;

      @media print, screen and (min-width: $screen-sm-min) {
        padding: 8px 16px;
      }
    }

    .event-date-badge .event-year {
      display: none;

      @media print, screen and (min-width: $screen-lg-min) {
        display: block;
      }
    }

    .coyo-event-participation {
      float: right;

      .btn {
        padding: 5px 32px 5px 14px;
        height: 36px;
      }

      .ui-select-toggle::before,
      .ui-select-toggle::after {
        line-height: 35px;
      }
    }
  }

  .image-header {
    .cover-image {
      position: relative;

      @media print, screen and (min-width: $screen-md-min) {
        border-radius: 5px 5px 0 0;
      }
    }

    .event-avatar-container {
      position: relative;
      margin: -22px 0 12px 16px;

      @media screen and (min-width: $screen-sm-min) {
        margin: -60px 0 16px 24px;
      }

      @media print, screen and (min-width: $screen-md-min) {
        margin: -54px 0 16px 24px;
      }

      coyo-avatar-overlay {
        border-radius: 0 0 5px 5px;
      }

      .sender-avatar {
        border: 3px solid $color-white;
        background-color: $color-event-avatar-bg;
        border-radius: 5px;
      }
    }
  }

  .panel-foreground {
    border-radius: 0;

    .titles-container {
      .subtitle {
        .label-visibility {
          display: none;

          @media print, screen and (min-width: $screen-sm-min) {
            display: inline;
          }
        }
      }
    }

    .coyo-event-participation {
      padding: 14px 24px 0 0;

      @media print, screen and (min-width: $screen-md-min) {
        position: static;
        padding: 16px 24px;
      }
    }
  }

  .event-nav,
  .event-nav-mobile {
    background-color: $color-white;
    border-radius: 0 0 5px 5px;
    overflow: hidden;

    .nav > li {
      a {
        @media print, screen and (min-width: $screen-md-min) {
          padding-top: 25px;
        }

        .tab-text {
          display: block;
        }
      }
      a .tab-text {
        display: block;
      }

      &.active > a,
      a.active {
        color: $color-link;
        border-bottom: 3px solid $color-link;
      }
    }
  }

  .event-nav {
    display: none;
    border-top: 1px solid $color-gray-lighter;

    a .zmdi {
      font-size: 24px;
    }

    .participants-count-tab {
      font: normal normal bold 12px/18px $font-family-base;
      position: absolute;
      margin: -35px 0 0 13px;
      border-radius: 100%;
      height: 24px;
      width: 24px;
      text-align: center;
      border: 2px solid $color-white;
      display: block;
      color: $color-white;
      background-color: $color-green;
      @include box-shadow(0, -2px, 0, 0, rgba(0, 0, 0, .1), true);
    }

    @media print, screen and (min-width: $screen-md-min) {
      display: block;
    }
  }

  .event-nav-mobile {
    display: block;

    @media print, screen and (min-width: $screen-md-min) {
      display: none;
    }
  }
}
