<section class="event-create" data-test="events-create-submit-form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" translate="MODULE.EVENTS.CREATE.TITLE" data-test="events-create-panel-title"></h3>
    </div>

    <!-- Step 1 -->
    <div ng-show="$ctrl.wizard.active == 0">
      <coyo-event-create (form-result)="$ctrl.addGeneralFormData($event)" [public]="$ctrl.public"
                         [initial-sender]="$ctrl.host"></coyo-event-create>
    </div>

    <!-- Step 4 -->
    <div class="event-user-chooser">
      <form name="$ctrl.eventsForm2" class="form-horizontal" coyo-form-submit="$ctrl.next($ctrl.eventsForm2)"
            ng-show="$ctrl.wizard.active == 1 && !$ctrl.public">
        <div class="panel-body">
          <!-- invite people -->
          <div class="user-chooser-wrapper">
            <coyo-user-chooser name="invited-people" id="invited-people" ng-model="$ctrl.event"
                               users-field="memberIds"
                               users-only="::!$ctrl.canInviteGroups"
                               groups-field="memberGroupIds"></coyo-user-chooser>
            <coyo-help tip="EVENT.MEMBER_GROUP.HELP" class="hidden-xs hidden-sm"></coyo-help>
          </div>
        </div>
        <div class="form-actions">
          <div class="form-action-buttons text-right">
            <button ng-click="$ctrl.back($event)" class="coyo-btn coyo-btn-secondary back-button">{{:: 'BACK' | translate}}</button>
            <button type="submit" data-test="button-event-create-event" class="btn btn-primary"
                    ng-disabled="$ctrl.eventsForm2.loading || $ctrl.eventsForm2.$invalid"
                    aria-disabled="{{$ctrl.eventsForm2.loading || $ctrl.eventsForm2.$invalid}}">
              <span>&nbsp{{:: 'CREATE' | translate}}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
