@mixin split-view-single-file($max-height) {
  display: flex;
  flex-direction: row;

  .single-file-widget-file-image {
    width: 33%;
    border-bottom: 0 none;
    max-height: $max-height;

    .zmdi-hc-5x {
      margin: 15px 0;
    }

    .img-file-preview {
      .pi-container {
        height: 100%;

        .pi-spinner-container, .pi-spinner-vert-container {
          padding-top: 0;
        }
      }
    }
  }

  .single-file-widget-details-text {
    width: 67%;
    padding: 24px 30px 24px 30px;

    h4 {
      text-align: left;

      input {
        text-align: left;
      }
    }

    .single-file-widget-details-infos {
      text-align: left;
    }
  }
}