@import 'mixins';

:host {
  display: flex;
  align-items: center;
}

.line-container {
  display: flex;
  justify-content: center;
  margin-left: 8px;
  flex-direction: column;
  min-width: 0;
  flex: 1 1 auto;
  height: 44px;

  .headline,
  .subline {
    @include ellipsis();
  }
}
