/**
 * Apply this mixin on the direct child elements of a panel-body if these elements display widget buttons.
 */
@mixin widget-btn-list-item() {
  &:last-child {
    margin-bottom: -$padding-base-horizontal;
  }
}

/**
 * Style a widget button
 */
@mixin widget-btn() {
  @include ellipsis();
  text-align: left;
  margin-left: -#{nth($panel-body-padding, 2) - 12px};
  margin-right: -#{nth($panel-body-padding, 2) - 12px};
  width: calc(100% + #{2*(nth($panel-body-padding, 2) - 12px)});

  @include xs {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: -#{nth($panel-xs-body-padding, 2) - 6px};
    margin-right: -#{nth($panel-xs-body-padding, 2) - 6px};
    width: calc(100% + #{2*(nth($panel-xs-body-padding, 2) - 6px)});
  }
}
