@import "variables";

.event-create-menu {
  .event-create-button {
    width: 100%;
    margin-bottom: 20px;

    .zmdi {
      font-size: 20px;
      padding-right: 4px;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    .button-container {
      position: absolute;
      height: 50px;
      width: 66px;
      right: 0;
      border-left: 1px solid $n75;
    }
  }

  .event-create-button-mobile {
    margin: 5px auto;

    .mat-icon {
      color: $color-black;
      height: 16px;
      width: 16px;
    }
  }
}

.event-visibility-button {
  height: 80px;

  &:hover {
    background-color: $n35;
  }

  .button-flex-container {
    display: flex;
  }

  .icon-container {
    flex: 1;
    margin-left: -8px;

    .mat-icon {
      width: 100%;
      margin-top: -16px;
      margin-left: 8px;
      color: $n200;
    }
  }

  .text-container  {
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    margin-top: 4px;

    .name {
      flex-basis: 100%;
      height: 20px;
      line-height: 1.25;
      font-size: 15px;
    }

    .description {
      flex-basis: 100%;
      height: 40px;
      margin-top: 4px;
      line-height: 1.25;
      white-space: normal;
      font-size: 13px;
      color: $n200;
    }
  }
}
