@import "variables";
@import "mixins";

:host-context(.sender-avatar) img {
  display: block;
  width: 100%;
  height: 100%;
}

:host-context(.sender-avatar:focus) img {
  box-shadow: 0 0 0 2px $n0, 0 0 0 4px $coyo-link-focus-color;
}

:host-context(.sender-avatar.user) img {
  border-radius: 50%;
}

:host-context(.sender-avatar:not(.user)) img {
  border-radius: 5px;
}

:host-context(.user-avatar-image) img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

/* clean-css ignore:start */
:host-context(.event-list-component .event-avatar) {
  img {
    border-radius: 0;
    background-color: $color-event-avatar-bg;

    @include md-and-up() {
      border-radius: 5px 0 0 5px;
    }
  }
}
/* clean-css ignore:end */

.clickable {
  cursor: pointer;
}
