<div class="app-no-fields">
    <span class="app-icon-big">
        <i class="zmdi zmdi-hc-fw zmdi-plus"></i>
    </span>
    <span class="app-empty-text text-muted" translate="APP.LIST.NO_ENTRIES"></span>
    <button class="btn btn-primary btn-configure" ng-if="$ctrl.createPermission" ng-click="$ctrl.createFn()" translate="APP.LIST.ADD_ENTRY_BUTTON"></button>
</div>