<div class="latest-files-widget">
    <h4 class="widget-title">
        {{$ctrl.widget.settings._titles[0] || ("WIDGETS.LATESTFILES.NAME" | translate)}}

    </h4>
    <coyo-widget-status load-data="$ctrl.loadFiles()" empty-message="WIDGETS.LATESTFILES.NO_FILES" skeleton="$ctrl.config.renderOptions.skeleton"></coyo-widget-status>
    <coyo-refresh watch="$ctrl.lastUpdate">
        <div class="file-item" ng-repeat="file in ::$ctrl.files">
            <div class="file-info">
                <coyo-ngx-file-icon [file]="::file">
                </coyo-ngx-file-icon>
                <a class="file-info-title" href ng-click="$ctrl.openDetails(file)">{{::file.displayName}}</a>
                <span class="label label-warning label-text" ng-if="::!file.isNew" translate="WIDGETS.LATESTFILES.UPDATED"></span>
                <span class="label label-warning label-empty-text" ng-if="::!file.isNew"></span>
            </div>
            <div class="author small" ng-if="::file.author">
                <a ui-sref="main.profile({userId: file.author.slug})">{{::file.author.displayName}}&nbsp;</a>
                <coyo-time-ago [date]="::file.modified" class="text-muted"></coyo-time-ago>
            </div>
        </div>
    </coyo-refresh>
</div>