@import "variables";

textarea.form-control {
  resize: none;
  margin: 0;
  padding: 0;
  line-height: $widget-line-height;

  &, &:active, &:hover, &:focus {
    outline: none;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
  }
}
