<div class="row select-birthday">
  <div class="col-xs-12 col-sm-4 select-birthday-day" ng-class="{'has-error': !$ctrl.dayFieldValid}">
    <ui-select ng-model="$ctrl.day" on-select="$ctrl.validateOnChangeDay()" search-enabled="true" class="ui-select" ui-select-mobile="{{:: 'DAY' | translate }}">
      <ui-select-match>{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="day.value as day in $ctrl.dayOptions | filter: { label: $select.search }"><div>{{::day.label}}</div></ui-select-choices>
    </ui-select>
  </div>
  <div class="col-xs-12 col-sm-4 select-birthday-month" ng-class="{'has-error': !$ctrl.monthFieldValid}">
    <ui-select ng-model="$ctrl.month" on-select="$ctrl.validateOnChangeMonthOrYear()" search-enabled="true" class="ui-select" ui-select-mobile="{{:: 'MONTH' | translate }}">
      <ui-select-match>{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="month.value as month in $ctrl.monthOptions | filter: { label: $select.search }"><div>{{::month.label}}</div></ui-select-choices>
    </ui-select>
  </div>
  <div class="col-xs-12 col-sm-4 select-birthday-year">
    <ui-select ng-model="$ctrl.year" on-select="$ctrl.validateOnChangeMonthOrYear()" search-enabled="true" class="ui-select" ui-select-mobile="{{:: 'YEAR' | translate }}">
      <ui-select-match>{{$select.selected.label}}</ui-select-match>
      <ui-select-choices repeat="year.value as year in $ctrl.yearOptions | filter: { label: $select.search }"><div>{{::year.label}}</div></ui-select-choices>
    </ui-select>
  </div>
</div>
