@import "variables";

:host {
  display: block;
  margin-bottom: 4px;

  .coyo-checkbox.btn {
    box-shadow: none;
    height: 28px;
    width: 28px;
    min-width: 28px;
    line-height: 1;
    margin: 6px 0;
    padding: 1px;

    &:active, &:hover, &:focus {
      background: $input-bg;
      border-color: $input-border;
      box-shadow: none;
      outline: none;
    }

    &:focus {
      border-color: $coyo-input-border-focus;
      box-shadow: 0 0 0 1px $coyo-input-border-focus;
    }

    &:active:hover,
    &:active:focus {
      background: $input-bg;
      border-color: $input-border;
      box-shadow: none;
      outline: none;
    }

    i {
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      width: 24px;
    }
  }

  .coyo-checkbox-sm.btn,
  .form-group-sm .coyo-checkbox {
    border-radius: $btn-border-radius-small;
    height: 24px;
    margin: 5px 0;

    i {
      font-size: 14px;
      line-height: 20px;
      width: 20px;
    }
  }

  .coyo-checkbox-lg.btn,
  .form-group-lg .coyo-checkbox.btn {
    border-radius: $btn-border-radius-large;
    height: 30px;
    margin: 7px 0;

    i {
      font-size: 20px;
      line-height: 26px;
      width: 26px;
    }
  }

  .coyo-checkbox.btn[disabled] {
    background-color: $input-bg-disabled;
    opacity: 1;
  }

  .form-group-checkbox {
    margin-bottom: 6px;
  }

  .form-group + .form-group-checkbox,
  .form-group-sm + .form-group-checkbox,
  .form-group-lg + .form-group-checkbox {
    margin-top: -6px;
  }

  .form-group .checkbox {
    padding-left: 40px;
    padding-top: 0;

    .coyo-checkbox {
      margin-left: -40px;
      margin-right: 12px;
    }
  }

  .coyo-checkbox-label {
    display: inline-flex;
    align-items: center;
  }

  .coyo-checkbox-label-text {
    font-weight: normal;
    vertical-align: middle;
    color: $n600;
  }

  .label-position-right .coyo-checkbox-label-text {
    margin-left: 12px;
  }

  .label-position-left {
    .coyo-checkbox-frame {
      order: 2;
    }
    .coyo-checkbox-label-text {
      word-break: break-word;
      margin-right: 12px;
    }
  }

  .coyo-checkbox-hint {
    margin-top: -10px;
    color: $n200;
  }

  .label-position-right + .coyo-checkbox-hint {
    margin-left: 40px;
  }
}
