@import "variables";
@import "mixins";

aside {
  @include widget-btn-list-item();
}

ul {
  list-style: none;
  padding: 0;
}

ul,
.btn-more {
  margin: 0 -#{nth($panel-body-padding, 2) - 16px};
}

li {
  position: relative;
}

.mat-button { // This should be deleted once the material migration is done
  color: $n200;

  .mat-icon {
    margin-right: 8px;
  }
}

.senderName {
  margin-right: 32px;
}

.btn-fav {
  position: absolute;
  top: -9999px;
  right: -9999px;
}

.btn-sender:hover + .btn-fav,
.btn-fav:hover,
.btn-sender:focus + .btn-fav,
.btn-fav:focus,
:host-context(.touchevents) .btn-fav {
  top: 4px;
  right: 4px;
}

hr {
  margin: 8px -#{nth($panel-body-padding, 2)} 24px;
  border-color: $n50;

  @include xs {
    margin-bottom: 16px;
    margin-left: -#{nth($panel-xs-body-padding, 2)};
    margin-right: -#{nth($panel-xs-body-padding, 2)};
  }
}

.empty {
  margin: 16px 0 0;
  color: $n200;
  font-size: 14px;
}
