.filterbox {
  .filter {
    min-width: 250px;
    position: relative;

    &.loading:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .filter-title {
      padding: 12px 16px;
    }
  }

  &.filterbox-attached {
    .panel {
      background-color: $color-gray-lighter;
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    .filter-menu-attached {
      margin-top: 0;
    }
  }

  &.filterbox-vertical .filter {
    .filter-title {
      min-width: inherit;
      @media print, screen and (min-width: $screen-md-min) {
        padding-left: 24px;
      }
    }
    > ul {
      @media print, screen and (min-width: $screen-md-min) {
        padding-bottom: 24px;
      }
    }
  }
}
