@import "variables";
@import "mixins";

$skeleton-notification-item-container-height: 640px;
$skeleton-notification-discussion-item-height: 160px;
$skeleton-notification-activity-item-height: 80px;

div {
  &.discussion {
    width: 100%;
    height: $skeleton-notification-item-container-height;

    background-image:
      linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),  /* highlight */
      radial-gradient(circle 20px at 20px 20px, $n35 99%, transparent 0 ), /* avatar */
      linear-gradient( $gray-lighter 15px, transparent 0 ),
      linear-gradient( $gray-lighter 15px, transparent 0 ),
      linear-gradient( $gray-lighter 60px, transparent 0 ),
      linear-gradient( $gray-lighter 10px, transparent 0 );

    background-repeat: repeat-y;

    background-size:
      50px $skeleton-notification-discussion-item-height, /* highlight */
      40px $skeleton-notification-discussion-item-height,
      70% $skeleton-notification-discussion-item-height,
      60% $skeleton-notification-discussion-item-height,
      65% $skeleton-notification-discussion-item-height,
      25% $skeleton-notification-discussion-item-height;

    background-position:
      0 0, /* highlight */
      20px 20px,
      80px 20px,
      80px 40px,
      80px 65px,
      80px 135px;

    animation: shine-notification-item-discussion 1.25s infinite;
  }

  &.activity {
    width: 100%;
    height: $skeleton-notification-item-container-height;

    background-image:
      linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%),  /* highlight */
      radial-gradient(circle 15px at 15px 15px, $n35 99%, transparent 0 ), /* avatar */
      linear-gradient( $gray-lighter 15px, transparent 0 ),
      linear-gradient( $gray-lighter 15px, transparent 0 ),
      linear-gradient( $gray-lighter 10px, transparent 0 );


    background-repeat: repeat-y;

    background-size:
      50px $skeleton-notification-activity-item-height, /* highlight */
      30px $skeleton-notification-activity-item-height,
      70% $skeleton-notification-activity-item-height,
      60% $skeleton-notification-activity-item-height,
      25% $skeleton-notification-activity-item-height;

    background-position:
      0 0, /* highlight */
      20px 20px,
      60px 20px,
      60px 40px,
      60px 60px;

    animation: shine-notification-item-activity 1.25s infinite;
  }
}

@keyframes shine-notification-item-discussion {
  to {
    background-position:
      100% 0, /* move highlight to right */
      20px 20px,
      80px 20px,
      80px 40px,
      80px 65px,
      80px 135px;
  }
}

@keyframes shine-notification-item-activity {
  to {
    background-position:
      100% 0, /* move highlight to right */
      20px 20px,
      60px 20px,
      60px 40px,
      60px 60px;
  }
}
