<form name="filenameForm" ng-submit="$ctrl.handleSubmit()">
  <div class="form-group" ng-class="{'has-error': filenameForm.$invalid, 'has-success': filenameForm.$valid}">
    <div class="input-group">
      <input class="form-control input-sm"
             focus-if="$ctrl.focusTrigger"
             ng-blur="$ctrl.handleSubmit()"
             type="text"
             ng-model="$ctrl.newFilename"
             maxlength="255"
             ng-disabled="$ctrl.saving"
             required>
      <span class="input-group-addon"
            uib-tooltip="{{ ::'FILE_LIBRARY.VALIDATION.FILENAME' | translate }}"
            tooltip-placement="top"
            tooltip-append-to-body="true"
            tooltip-enable="filenameForm.$invalid">
        <i class="zmdi" ng-class="{'zmdi-close': filenameForm.$invalid, 'zmdi-check': filenameForm.$valid}"></i>
      </span>
    </div>
  </div>
</form>