<div *ngFor="let searchResultList of externalSearchResults">
  <div class="panel panel-default external-search-results" *ngIf="searchResultList.searchResults && searchResultList.searchResults.length">
    <div class="panel-heading">
      <h3 class="search-results-headline">
        <span class="hidden-xs" translate="MODULE.SEARCH.EXTERNAL.HEADLINE.WE_ALSO_FOUND"></span>
        <span class="number-of-search-results">{{searchResultList.searchResultCountString}}</span>
        <span>{{"MODULE.SEARCH.EXTERNAL.HEADLINE.RESULTS_ON" | translate: {count: searchResultList.searchResultCountString} }}</span>
        <a [href]="getExternalSearchURL(searchResultList.searchProvider)" target="_blank">
          <i ng-if="searchResultList.searchProvider == 'GOOGLE'" class="zmdi zmdi-google-drive ml-xxxs" aria-hidden="true"></i>
          <span translate="MODULE.SEARCH.EXTERNAL.PROVIDER.{{searchResultList.searchProvider}}"></span>
        </a>
      </h3>
    </div>
    <div class="panel-body">
      <div class="external-search-results-list">
        <div *ngFor="let result of searchResultList.searchResults" class="external-search-result-wrapper">
          <coyo-search-result-external [searchResult]="result" [searchProvider]="searchResultList.searchProvider"></coyo-search-result-external>
        </div>
      </div>
    </div>
  </div>
</div>
