@import "variables";

.external-search-results-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 -8px;

  .external-search-result-wrapper {
    flex: 1;
    padding: 0 8px 8px;
    min-height: 56px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .external-search-results-list {
    flex-direction: row;
    justify-content: flex-start;

    .external-search-result-wrapper {
      padding-bottom: 0;
      max-width: 33.33333%;
      min-height: initial;
    }
  }
}

.panel-heading {
  .number-of-search-results {
    font-weight: bold;
  }
}
