<div class="panel panel-default panel-list-app" data-test="panel-list-app">
    <div class="panel-nav panel-heading">
        <!-- Search -->
        <div ng-if="$ctrl.app._permissions.readEntries && $ctrl.fields.length > 0" class="search-wrapper panel-heading-item">
            <i class="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-search"></i>
            <input type="search" class="search-control"
                   ng-model="$ctrl.search"
                   ng-model-options="{ debounce: 300 }"
                   ng-change="$ctrl.searchKeyPressed($event)"
                   placeholder="{{'APP.LIST.SEARCH' | translate}}">
        </div>

        <!-- Entry count -->
        <coyo-page-entry-count ng-if="$ctrl.app._permissions.readEntries && $ctrl.fields.length > 0" class="panel-heading-item hidden-xs" page="$ctrl.currentPage">
        </coyo-page-entry-count>

        <!-- Add Entry -->
        <a class="heading-button panel-heading-item" ng-if="$ctrl.app._permissions.createEntry && $ctrl.fields.length > 0" ng-click="$ctrl.addEntry()">
            <i class="zmdi zmdi-hc-fw zmdi-plus-circle"></i><span class="hidden-xs">&nbsp;{{:: 'APP.LIST.ADD_ENTRY' | translate}}</span>
        </a>

        <!-- Configure & Export -->
        <coyo-context-menu title="{{::$ctrl.app.settings.elementName}}"
                           ng-if="$ctrl.app._permissions.manage || $ctrl.app._permissions.readEntries"
                           align-right="true">
            <li ng-if="$ctrl.app._permissions.manage">
                <a ui-sref="^.configure"><i class="zmdi zmdi-hc-fw zmdi-settings"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.CONFIGURE' | translate}}</a>
            </li>
            <li ng-if="$ctrl.app._permissions.readEntries" class="divider"></li>
            <li ng-if="$ctrl.app._permissions.readEntries">
                <a href coyo-download="$ctrl.getDownloadUrl(false)"><i class="zmdi zmdi-hc-fw zmdi-download"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.DOWNLOAD' | translate}}</a>
            </li>
            <li ng-if="$ctrl.app._permissions.readEntries">
                <a href coyo-download="$ctrl.getDownloadUrl(true)"><i class="zmdi zmdi-hc-fw zmdi-download"></i>&nbsp;{{:: 'APP.COMMONS.FIELDS.DOWNLOAD_ALL' | translate}}</a>
            </li>
        </coyo-context-menu>
    </div>

    <div class="panel-body">
        <!-- Header -->
        <h3 class="list-element-name">{{::$ctrl.app.settings.elementName}}</h3>

        <!-- Table -->
        <div ng-if="$ctrl.fields.length > 0 && $ctrl.currentPage.totalElements > 0 && !$ctrl.loading" class="dynamic-app-table">
            <oyoc-list-app-table-header class="dynamic-app-table-header" fields="$ctrl.fields" on-sort-fn="$ctrl.sort()" app-id="$ctrl.app.id"></oyoc-list-app-table-header>
            <div class="dynamic-app-table-row" ng-repeat="entry in $ctrl.currentPage.content">
                <div class="dynamic-app-table-row-item"
                     ng-class="'field-' + field.key"
                     ng-repeat="field in $ctrl.fields"
                     ng-if="!field.hidden"
                     data-header="{{::field.name}}">
                    <coyo-list-value app="$ctrl.app" entry="entry" field="field" config="$ctrl.getConfig(field.key)"></coyo-list-value>
                </div>
                <div class="btn-container">
                    <div class="dynamic-app-table-row-show-details options" ng-click="$ctrl.viewEntry(entry)">
                        <i class="zmdi zmdi-hc-fw zmdi-assignment"></i>
                    </div>
                    <div class="dynamic-app-table-row-context-menu options">
                        <coyo-context-menu align-right="true">
                            <li>
                                <a href ng-click="$ctrl.viewEntry(entry)">
                                    <i class="zmdi zmdi-hc-fw zmdi-assignment"></i>&nbsp;{{:: 'APP.LIST.CONTEXTMENU.OPEN' | translate}}
                                </a>
                            </li>
                            <li ng-if="entry._permissions.edit">
                                <a href ng-click="$ctrl.editEntry(entry)">
                                    <i class="zmdi zmdi-hc-fw zmdi-edit"></i>&nbsp;{{::'APP.LIST.DETAIL.MODAL.EDIT' | translate}}
                                </a>
                            </li>
                            <coyo-list-entry-subscribe target="entry"></coyo-list-entry-subscribe>
                            <li class="divider"></li>
                            <li ng-if="entry._permissions.delete">
                                <a href ng-click="$ctrl.deleteEntry(entry)">
                                    <i class="zmdi zmdi-hc-fw zmdi-delete"></i>&nbsp;{{:: 'DELETE' | translate}}
                                </a>
                            </li>
                        </coyo-context-menu>
                    </div>
                </div>
            </div>
        </div>

        <!-- Spinner -->
        <div class="text-center mb-s mt-s" ng-if="$ctrl.loading">
            <coyo-spinner size="sm"></coyo-spinner>
        </div>

        <!-- Pagination -->
        <coyo-table-pagination ng-if="$ctrl.currentPage.content" page="$ctrl.currentPage"></coyo-table-pagination>

        <!-- Empty messages-->
        <oyoc-no-fields-message ng-if="$ctrl.app._permissions.readEntries && $ctrl.fields.length <= 0" manage-permission="$ctrl.app._permissions.manage" create-fn="$ctrl.createField()" msg-key="APP.LIST.FIELDS.CONFIGURE.NO_FIELDS"></oyoc-no-fields-message>
        <oyoc-no-entries-message ng-if="$ctrl.fields.length > 0 && $ctrl.currentPage.totalElements <= 0 && $ctrl.search.length <= 0 && !$ctrl.loading" create-permission="$ctrl.app._permissions.createEntry" create-fn="$ctrl.addEntry()"></oyoc-no-entries-message>
        <oyoc-list-app-message ng-if="$ctrl.fields.length > 0 && $ctrl.currentPage.totalElements <= 0 && $ctrl.search.length > 0 && !$ctrl.loading" icon="zmdi-search" message="APP.LIST.NO_SEARCH_RESULTS"></oyoc-list-app-message>
        <oyoc-list-app-message ng-if="!$ctrl.app._permissions.readEntries" icon="zmdi-eye-off" message="APP.LIST.NO_READ_PERMISSIONS"></oyoc-list-app-message>
    </div>
</div>
