<div class="panel terms">
  <div class="panel-heading login-terms-header">
    <h2 class="panel-title login-terms-title">{{$ctrl.terms.title }}</h2>
    <coyo-app-language-switch ng-if="$ctrl.terms.availableLanguages.length > 1"
                              current-language="$ctrl.terms.language"
                              available-languages="$ctrl.terms.availableLanguages"
                              fetch-translation="$ctrl.fetchTermsByLanguage"></coyo-app-language-switch>
  </div>
  <div class="panel-body">
    <div class="rte-html-container fr-view" coyo-anchor-container ng-bind-html="$ctrl.terms.text | trusthtml"></div>
    <div class="form-actions text-center">
      <a href="#" ng-click="$ctrl.accept()" ng-disabled="$ctrl.accepting || $ctrl.declining" class="btn btn-primary"><!--
     --><i class="zmdi zmdi-hc-fw zmdi-check" ng-if="!$ctrl.accepting"></i><!--
     --><i class="zmdi zmdi-hc-fw zmdi-hc-spin zmdi-spinner" ng-if="$ctrl.accepting"></i>&nbsp;{{ $ctrl.acceptButtonTranslation }}</a><!--
   --><a href="#" ng-click="$ctrl.decline()" ng-disabled="$ctrl.accepting || $ctrl.declining" class="btn btn-danger ml-xxs"><!--
     --><i class="zmdi zmdi-hc-fw zmdi-close" ng-if="!$ctrl.declining"></i><!--
     --><i class="zmdi zmdi-hc-fw zmdi-hc-spin zmdi-spinner" ng-if="$ctrl.declining"></i>&nbsp;{{ $ctrl.declineButtonTranslation }}
      </a>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-6">
        <div class="pull-right copyright"></div>
      </div>
    </div>
  </div>
</div>
