<div class="user-chooser-count hidden-lg hidden-md">
   <span ng-if="!($ctrl.single || $ctrl.usersOnly || $ctrl.groupsOnly)"
         translate-values="{userCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.usersField}}.length || 0, groupCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.groupsField}}.length || 0}"
         translate="USER_CHOOSER.ALL.COUNTER"></span>
   <span ng-if="!$ctrl.single && $ctrl.usersOnly"
         translate-values="{userCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.usersField}}.length || 0}"
         translate="USER_CHOOSER.USERS_ONLY.COUNTER"></span>
   <span ng-if="!$ctrl.single && $ctrl.groupsOnly"
         translate-values="{groupCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.groupsField}}.length || 0}"
         translate="USER_CHOOSER.GROUPS_ONLY.COUNTER"></span>
</div>
<button ng-click="$ctrl.openChooser($event)" class="user-chooser coyo-btn coyo-btn-secondary" ng-class="{disabled: $ctrl.loading}" data-test="button-user-chooser">
   <i class="zmdi zmdi-hc-fw zmdi-account-add"></i><!--
--><span ng-hide="$ctrl.loading" translate="{{:: $ctrl.single ? $ctrl.btnTitleSingle : $ctrl.btnTitle }}"
         translate-value-users="{{$ctrl.ngModel.users.length || 0}}"
         translate-value-groups="{{$ctrl.ngModel.groups.length || 0}}"></span><!--
--><span ng-show="$ctrl.loading">{{:: 'USER_CHOOSER.BUTTON_TITLE.LOADING' | translate }}&nbsp;<i class="zmdi zmdi-spinner zmdi-hc-spin"></i></span>
</button>
<span class="user-chooser-count hidden-xs hidden-sm" ng-if="!($ctrl.single || $ctrl.usersOnly || $ctrl.groupsOnly)"
      translate-values="{userCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.usersField}}.length || 0, groupCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.groupsField}}.length || 0}"
      translate="USER_CHOOSER.ALL.COUNTER"></span>
<span class="user-chooser-count hidden-xs hidden-sm" ng-if="!$ctrl.single && $ctrl.usersOnly"
      translate-values="{userCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.usersField}}.length || 0}"
      translate="USER_CHOOSER.USERS_ONLY.COUNTER"></span>
<span class="user-chooser-count hidden-xs hidden-sm" ng-if="!$ctrl.single && $ctrl.groupsOnly"
      translate-values="{groupCount : $ctrl.ngModel.$modelValue.{{$ctrl.settings.groupsField}}.length || 0}"
      translate="USER_CHOOSER.GROUPS_ONLY.COUNTER"></span>
