<ui-select ng-model="data.selected" class="select-integration">
  <ui-select-match placeholder="{{::placeholder}}" allow-clear="false">
    <span data-ng-if="$select.selected">{{ languageKeyPrefix + '.' + $select.selected + '.LABEL' | translate}}</span>
  </ui-select-match>
  <ui-select-choices repeat="visibility in data.visibilities">
    <!-- Remove the ng-hide attribute and style tag when the first O365 functionality is integrated -->
    <div ng-hide="visibility === 'OFFICE_365'">{{ ::languageKeyPrefix + '.' + visibility + '.LABEL' | translate}}</div>
  </ui-select-choices>
</ui-select>

<style>
  #ui-select-choices-row-2-2 > span {
    padding: 0;
  }
</style>
